include ./utils/_mixin.pug
block variables

doctype html
html(lang="ru-RU")
  head
    meta(charset="utf-8")

    block page-title
      title #{title}

    include ./base/head
      block headScripts

      block style
        include base/style

  body(class=bodyClass)
    block content
      
    script(src='js/libs/jquery-3.4.1.min.js' defer)
    script(src='js/libs/slick.min.js' defer)
    script(src='js/common.js' defer)
    block scripts
