.container
    .info-title
        .info-title__info
            img(src="./images/icon/title-1.svg", alt="title")
            h3 Огромный выбор букетов
        .info-title__info
            img(src="./images/icon/title-2.svg", alt="title")
            h3 Гаранируем качество цветов
        .info-title__info
            img(src="./images/icon/title-3.svg", alt="title")
            h3 Оперативная доставка
section.main-catalog
    .container
        .filter
            h2 Фильтр
            .filter__wrap
                img(src="./images/decor/filter.jpg", alt="filter")
        .catalog-new
            //- h2 Каталог цветов
            .catalog-new__wrap
                .catalog-new__title
                    h3 АКЦИИ
                .catalog-new__container
                    .catalog-new__item
                        .catalog-new__img
                            img(src="./images/decor/catalog-1.jpg", alt="catalog")
                        .catalog-new__text
                            a(href="#") Красивый букет розовых лилий
                            .catalog-new__price
                                p 3 000 ₽
                                a(href="#") В корзину
                    .catalog-new__item
                        .catalog-new__img
                            img(src="./images/decor/catalog-2.jpg", alt="catalog")
                        .catalog-new__text
                            a(href="#") Красивый букет розовых лилий
                            .catalog-new__price
                                p 3 000 ₽
                                a(href="#") В корзину
                    .catalog-new__item
                        .catalog-new__img
                            img(src="./images/decor/catalog-3.jpg", alt="catalog")
                        .catalog-new__text
                            a(href="#") Красивый букет розовых лилий
                            .catalog-new__price
                                p 3 000 ₽
                                a(href="#") В корзину
                    .catalog-new__item
                        .catalog-new__img
                            img(src="./images/decor/catalog-4.jpg", alt="catalog")
                        .catalog-new__text
                            a(href="#") Красивый букет розовых лилий
                            .catalog-new__price
                                p 3 000 ₽
                                a(href="#") В корзину
                    .catalog-new__item
                        .catalog-new__img
                            img(src="./images/decor/catalog-5.jpg", alt="catalog")
                        .catalog-new__text
                            a(href="#") Красивый букет розовых лилий
                            .catalog-new__price
                                p 3 000 ₽
                                a(href="#") В корзину
                    .catalog-new__item
                        .catalog-new__img
                            img(src="./images/decor/catalog-1.jpg", alt="catalog")
                        .catalog-new__text
                            a(href="#") Красивый букет розовых лилий
                            .catalog-new__price
                                p 3 000 ₽
                                a(href="#") В корзину
                    .catalog-new__item
                        .catalog-new__img
                            img(src="./images/decor/catalog-1.jpg", alt="catalog")
                        .catalog-new__text
                            a(href="#") Красивый букет розовых лилий
                            .catalog-new__price
                                p 3 000 ₽
                                a(href="#") В корзину
                    .catalog-new__item
                        .catalog-new__img
                            img(src="./images/decor/catalog-2.jpg", alt="catalog")
                        .catalog-new__text
                            a(href="#") Красивый букет розовых лилий
                            .catalog-new__price
                                p 3 000 ₽
                                a(href="#") В корзину
                    .catalog-new__item
                        .catalog-new__img
                            img(src="./images/decor/catalog-3.jpg", alt="catalog")
                        .catalog-new__text
                            a(href="#") Красивый букет розовых лилий
                            .catalog-new__price
                                p 3 000 ₽
                                a(href="#") В корзину
            .catalog-new__wrap    
                .catalog-new__title
                    h3 РОЗЫ
                .catalog-new__container
                    .catalog-new__item
                        .catalog-new__img
                            img(src="./images/decor/catalog-6.jpg", alt="catalog")
                        .catalog-new__text
                            a(href="#") Красивый букет розовых лилий
                            .catalog-new__price
                                p 3 000 ₽
                                a(href="#") В корзину
                    .catalog-new__item
                        .catalog-new__img
                            img(src="./images/decor/catalog-7.jpg", alt="catalog")
                        .catalog-new__text
                            a(href="#") Красивый букет розовых лилий
                            .catalog-new__price
                                p 3 000 ₽
                                a(href="#") В корзину
                    .catalog-new__item
                        .catalog-new__img
                            img(src="./images/decor/catalog-8.jpg", alt="catalog")
                        .catalog-new__text
                            a(href="#") Красивый букет розовых лилий
                            .catalog-new__price
                                p 3 000 ₽
                                a(href="#") В корзину
                    .catalog-new__item
                        .catalog-new__img
                            img(src="./images/decor/catalog-9.jpg", alt="catalog")
                        .catalog-new__text
                            a(href="#") Красивый букет розовых лилий
                            .catalog-new__price
                                p 3 000 ₽
                                a(href="#") В корзину
                    .catalog-new__item
                        .catalog-new__img
                            img(src="./images/decor/catalog-10.jpg", alt="catalog")
                        .catalog-new__text
                            a(href="#") Красивый букет розовых лилий
                            .catalog-new__price
                                p 3 000 ₽
                                a(href="#") В корзину
                    .catalog-new__item
                        .catalog-new__img
                            img(src="./images/decor/catalog-11.jpg", alt="catalog")
                        .catalog-new__text
                            a(href="#") Красивый букет розовых лилий
                            .catalog-new__price
                                p 3 000 ₽
                                a(href="#") В корзину
                    .catalog-new__item
                        .catalog-new__img
                            img(src="./images/decor/catalog-6.jpg", alt="catalog")
                        .catalog-new__text
                            a(href="#") Красивый букет розовых лилий
                            .catalog-new__price
                                p 3 000 ₽
                                a(href="#") В корзину
                    .catalog-new__item
                        .catalog-new__img
                            img(src="./images/decor/catalog-8.jpg", alt="catalog")
                        .catalog-new__text
                            a(href="#") Красивый букет розовых лилий
                            .catalog-new__price
                                p 3 000 ₽
                                a(href="#") В корзину
                    .catalog-new__item
                        .catalog-new__img
                            img(src="./images/decor/catalog-7.jpg", alt="catalog")
                        .catalog-new__text
                            a(href="#") Красивый букет розовых лилий
                            .catalog-new__price
                                p 3 000 ₽
                                a(href="#") В корзину
            .catalog-new__wrap    
                .catalog-new__title
                    h3 МОНОБУКЕТЫ
                .catalog-new__container
                    .catalog-new__item
                        .catalog-new__img
                            img(src="./images/decor/catalog-12.jpg", alt="catalog")
                        .catalog-new__text
                            a(href="#") Красивый букет розовых лилий
                            .catalog-new__price
                                p 3 000 ₽
                                a(href="#") В корзину
                    .catalog-new__item
                        .catalog-new__img
                            img(src="./images/decor/catalog-13.jpg", alt="catalog")
                        .catalog-new__text
                            a(href="#") Красивый букет розовых лилий
                            .catalog-new__price
                                p 3 000 ₽
                                a(href="#") В корзину
                    .catalog-new__item
                        .catalog-new__img
                            img(src="./images/decor/catalog-14.jpg", alt="catalog")
                        .catalog-new__text
                            a(href="#") Красивый букет розовых лилий
                            .catalog-new__price
                                p 3 000 ₽
                                a(href="#") В корзину
                    .catalog-new__item
                        .catalog-new__img
                            img(src="./images/decor/catalog-15.jpg", alt="catalog")
                        .catalog-new__text
                            a(href="#") Красивый букет розовых лилий
                            .catalog-new__price
                                p 3 000 ₽
                                a(href="#") В корзину
                    .catalog-new__item
                        .catalog-new__img
                            img(src="./images/decor/catalog-16.jpg", alt="catalog")
                        .catalog-new__text
                            a(href="#") Красивый букет розовых лилий
                            .catalog-new__price
                                p 3 000 ₽
                                a(href="#") В корзину
                    .catalog-new__item
                        .catalog-new__img
                            img(src="./images/decor/catalog-17.jpg", alt="catalog")
                        .catalog-new__text
                            a(href="#") Красивый букет розовых лилий
                            .catalog-new__price
                                p 3 000 ₽
                                a(href="#") В корзину
                    .catalog-new__item
                        .catalog-new__img
                            img(src="./images/decor/catalog-12.jpg", alt="catalog")
                        .catalog-new__text
                            a(href="#") Красивый букет розовых лилий
                            .catalog-new__price
                                p 3 000 ₽
                                a(href="#") В корзину
                    .catalog-new__item
                        .catalog-new__img
                            img(src="./images/decor/catalog-13.jpg", alt="catalog")
                        .catalog-new__text
                            a(href="#") Красивый букет розовых лилий
                            .catalog-new__price
                                p 3 000 ₽
                                a(href="#") В корзину
                    .catalog-new__item
                        .catalog-new__img
                            img(src="./images/decor/catalog-14.jpg", alt="catalog")
                        .catalog-new__text
                            a(href="#") Красивый букет розовых лилий
                            .catalog-new__price
                                p 3 000 ₽
                                a(href="#") В корзину
            .catalog-new__wrap    
                .catalog-new__title
                    h3 БУКЕТЫ
                .catalog-new__container
                    .catalog-new__item
                        .catalog-new__img
                            img(src="./images/decor/catalog-12.jpg", alt="catalog")
                        .catalog-new__text
                            a(href="#") Красивый букет розовых лилий
                            .catalog-new__price
                                p 3 000 ₽
                                a(href="#") В корзину
                    .catalog-new__item
                        .catalog-new__img
                            img(src="./images/decor/catalog-8.jpg", alt="catalog")
                        .catalog-new__text
                            a(href="#") Красивый букет розовых лилий
                            .catalog-new__price
                                p 3 000 ₽
                                a(href="#") В корзину
                    .catalog-new__item
                        .catalog-new__img
                            img(src="./images/decor/catalog-11.jpg", alt="catalog")
                        .catalog-new__text
                            a(href="#") Красивый букет розовых лилий
                            .catalog-new__price
                                p 3 000 ₽
                                a(href="#") В корзину
                    .catalog-new__item
                        .catalog-new__img
                            img(src="./images/decor/catalog-15.jpg", alt="catalog")
                        .catalog-new__text
                            a(href="#") Красивый букет розовых лилий
                            .catalog-new__price
                                p 3 000 ₽
                                a(href="#") В корзину
                    .catalog-new__item
                        .catalog-new__img
                            img(src="./images/decor/catalog-16.jpg", alt="catalog")
                        .catalog-new__text
                            a(href="#") Красивый букет розовых лилий
                            .catalog-new__price
                                p 3 000 ₽
                                a(href="#") В корзину
                    .catalog-new__item
                        .catalog-new__img
                            img(src="./images/decor/catalog-8.jpg", alt="catalog")
                        .catalog-new__text
                            a(href="#") Красивый букет розовых лилий
                            .catalog-new__price
                                p 3 000 ₽
                                a(href="#") В корзину
                    .catalog-new__item
                        .catalog-new__img
                            img(src="./images/decor/catalog-11.jpg", alt="catalog")
                        .catalog-new__text
                            a(href="#") Красивый букет розовых лилий
                            .catalog-new__price
                                p 3 000 ₽
                                a(href="#") В корзину
                    .catalog-new__item
                        .catalog-new__img
                            img(src="./images/decor/catalog-17.jpg", alt="catalog")
                        .catalog-new__text
                            a(href="#") Красивый букет розовых лилий
                            .catalog-new__price
                                p 3 000 ₽
                                a(href="#") В корзину
                    .catalog-new__item
                        .catalog-new__img
                            img(src="./images/decor/catalog-12.jpg", alt="catalog")
                        .catalog-new__text
                            a(href="#") Красивый букет розовых лилий
                            .catalog-new__price
                                p 3 000 ₽
                                a(href="#") В корзину
            .catalog-new__wrap    
                .catalog-new__title
                    h3 КОМПОЗИЦИИ
                .catalog-new__container
                    .catalog-new__item
                        .catalog-new__img
                            img(src="./images/decor/catalog-18.jpg", alt="catalog")
                        .catalog-new__text
                            a(href="#") Красивый букет розовых лилий
                            .catalog-new__price
                                p 3 000 ₽
                                a(href="#") В корзину
                    .catalog-new__item
                        .catalog-new__img
                            img(src="./images/decor/catalog-19.jpg", alt="catalog")
                        .catalog-new__text
                            a(href="#") Красивый букет розовых лилий
                            .catalog-new__price
                                p 3 000 ₽
                                a(href="#") В корзину
                    .catalog-new__item
                        .catalog-new__img
                            img(src="./images/decor/catalog-20.jpg", alt="catalog")
                        .catalog-new__text
                            a(href="#") Красивый букет розовых лилий
                            .catalog-new__price
                                p 3 000 ₽
                                a(href="#") В корзину
                    .catalog-new__item
                        .catalog-new__img
                            img(src="./images/decor/catalog-21.jpg", alt="catalog")
                        .catalog-new__text
                            a(href="#") Красивый букет розовых лилий
                            .catalog-new__price
                                p 3 000 ₽
                                a(href="#") В корзину
                    .catalog-new__item
                        .catalog-new__img
                            img(src="./images/decor/catalog-22.jpg", alt="catalog")
                        .catalog-new__text
                            a(href="#") Красивый букет розовых лилий
                            .catalog-new__price
                                p 3 000 ₽
                                a(href="#") В корзину
                    .catalog-new__item
                        .catalog-new__img
                            img(src="./images/decor/catalog-23.jpg", alt="catalog")
                        .catalog-new__text
                            a(href="#") Красивый букет розовых лилий
                            .catalog-new__price
                                p 3 000 ₽
                                a(href="#") В корзину
                    .catalog-new__item
                        .catalog-new__img
                            img(src="./images/decor/catalog-24.jpg", alt="catalog")
                        .catalog-new__text
                            a(href="#") Красивый букет розовых лилий
                            .catalog-new__price
                                p 3 000 ₽
                                a(href="#") В корзину
                    .catalog-new__item
                        .catalog-new__img
                            img(src="./images/decor/catalog-19.jpg", alt="catalog")
                        .catalog-new__text
                            a(href="#") Красивый букет розовых лилий
                            .catalog-new__price
                                p 3 000 ₽
                                a(href="#") В корзину
                    .catalog-new__item
                        .catalog-new__img
                            img(src="./images/decor/catalog-20.jpg", alt="catalog")
                        .catalog-new__text
                            a(href="#") Красивый букет розовых лилий
                            .catalog-new__price
                                p 3 000 ₽
                                a(href="#") В корзину
            .catalog-new__wrap    
                .catalog-new__title
                    h3 ПОДАРКИ
                .catalog-new__container
                    .catalog-new__item
                        .catalog-new__img
                            img(src="./images/decor/catalog-25.jpg", alt="catalog")
                        .catalog-new__text
                            a(href="#") Красивый букет розовых лилий
                            .catalog-new__price
                                p 3 000 ₽
                                a(href="#") В корзину
                    .catalog-new__item
                        .catalog-new__img
                            img(src="./images/decor/catalog-26.jpg", alt="catalog")
                        .catalog-new__text
                            a(href="#") Красивый букет розовых лилий
                            .catalog-new__price
                                p 3 000 ₽
                                a(href="#") В корзину
                    .catalog-new__item
                        .catalog-new__img
                            img(src="./images/decor/catalog-27.jpg", alt="catalog")
                        .catalog-new__text
                            a(href="#") Красивый букет розовых лилий
                            .catalog-new__price
                                p 3 000 ₽
                                a(href="#") В корзину
                    .catalog-new__item
                        .catalog-new__img
                            img(src="./images/decor/catalog-28.jpg", alt="catalog")
                        .catalog-new__text
                            a(href="#") Красивый букет розовых лилий
                            .catalog-new__price
                                p 3 000 ₽
                                a(href="#") В корзину
                    .catalog-new__item
                        .catalog-new__img
                            img(src="./images/decor/catalog-27.jpg", alt="catalog")
                        .catalog-new__text
                            a(href="#") Красивый букет розовых лилий
                            .catalog-new__price
                                p 3 000 ₽
                                a(href="#") В корзину
                    .catalog-new__item
                        .catalog-new__img
                            img(src="./images/decor/catalog-25.jpg", alt="catalog")
                        .catalog-new__text
                            a(href="#") Красивый букет розовых лилий
                            .catalog-new__price
                                p 3 000 ₽
                                a(href="#") В корзину
                    .catalog-new__item
                        .catalog-new__img
                            img(src="./images/decor/catalog-26.jpg", alt="catalog")
                        .catalog-new__text
                            a(href="#") Красивый букет розовых лилий
                            .catalog-new__price
                                p 3 000 ₽
                                a(href="#") В корзину
                    .catalog-new__item
                        .catalog-new__img
                            img(src="./images/decor/catalog-25.jpg", alt="catalog")
                        .catalog-new__text
                            a(href="#") Красивый букет розовых лилий
                            .catalog-new__price
                                p 3 000 ₽
                                a(href="#") В корзину
                    .catalog-new__item
                        .catalog-new__img
                            img(src="./images/decor/catalog-27.jpg", alt="catalog")
                        .catalog-new__text
                            a(href="#") Красивый букет розовых лилий
                            .catalog-new__price
                                p 3 000 ₽
                                a(href="#") В корзину
.feedback.container
    h2 Отзывы наших клиентов
    .feedback__wrap
        a(href="#").feedback__item
            .feedback__title
                p Олег
                span 09.12.2020
            .feedback__star
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M4.47642 20C4.2573 20 4.0397 19.9287 3.854 19.7885C3.50807 19.5269 3.34648 19.0773 3.44063 18.6434L4.72728 12.7292L0.36377 8.73605C0.0430226 8.44386 -0.0795084 7.98115 0.0521781 7.55776C0.183865 7.13517 0.54215 6.83598 0.966355 6.79506L6.73981 6.24811L9.02243 0.674012C9.19074 0.264478 9.57405 0 9.99993 0C10.4258 0 10.8091 0.264478 10.9774 0.673057L13.2601 6.24811L19.0326 6.79506C19.4577 6.83502 19.816 7.13517 19.9477 7.55776C20.0794 7.98035 19.9576 8.44386 19.6369 8.73605L15.2733 12.7284L16.56 18.6424C16.6543 19.0773 16.4926 19.5269 16.1468 19.7878C15.8018 20.0486 15.3417 20.0686 14.9784 19.8408L9.99993 16.7363L5.02148 19.8425C4.85317 19.9468 4.66563 20 4.47642 20ZM9.99993 15.3989C10.1891 15.3989 10.3765 15.452 10.545 15.5563L15.2434 18.4886L14.0291 12.9065C13.9424 12.5093 14.0717 12.0945 14.3659 11.8257L18.486 8.05519L13.035 7.53865C12.6425 7.50123 12.305 7.24376 12.1516 6.86639L9.99993 1.60613L7.84564 6.86719C7.69397 7.24201 7.35643 7.49948 6.96488 7.5369L1.51309 8.05344L5.63306 11.824C5.92818 12.0935 6.05727 12.5075 5.96983 12.9058L4.75643 18.4877L9.45487 15.5563C9.62318 15.452 9.81072 15.3989 9.99993 15.3989ZM6.69571 6.35591C6.69571 6.35591 6.69571 6.35686 6.6948 6.35766L6.69571 6.35591ZM13.3025 6.35336L13.3034 6.35511C13.3034 6.35416 13.3034 6.35416 13.3025 6.35336Z" fill="#AE4B84"/>
                    <path d="M9.99993 15.3989C10.1891 15.3989 10.3765 15.452 10.545 15.5563L15.2434 18.4886L14.0291 12.9065C13.9424 12.5093 14.0717 12.0945 14.3659 11.8257L18.486 8.05519L13.035 7.53865C12.6425 7.50123 12.305 7.24376 12.1516 6.86639L9.99993 1.60613L7.84564 6.86719C7.69397 7.24201 7.35643 7.49948 6.96488 7.5369L1.51309 8.05344L5.63306 11.824C5.92818 12.0935 6.05727 12.5075 5.96983 12.9058L4.75643 18.4877L9.45487 15.5563C9.62318 15.452 9.81072 15.3989 9.99993 15.3989Z" fill="#AE4B84"/>
                </svg>
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M4.47642 20C4.2573 20 4.0397 19.9287 3.854 19.7885C3.50807 19.5269 3.34648 19.0773 3.44063 18.6434L4.72728 12.7292L0.36377 8.73605C0.0430226 8.44386 -0.0795084 7.98115 0.0521781 7.55776C0.183865 7.13517 0.54215 6.83598 0.966355 6.79506L6.73981 6.24811L9.02243 0.674012C9.19074 0.264478 9.57405 0 9.99993 0C10.4258 0 10.8091 0.264478 10.9774 0.673057L13.2601 6.24811L19.0326 6.79506C19.4577 6.83502 19.816 7.13517 19.9477 7.55776C20.0794 7.98035 19.9576 8.44386 19.6369 8.73605L15.2733 12.7284L16.56 18.6424C16.6543 19.0773 16.4926 19.5269 16.1468 19.7878C15.8018 20.0486 15.3417 20.0686 14.9784 19.8408L9.99993 16.7363L5.02148 19.8425C4.85317 19.9468 4.66563 20 4.47642 20ZM9.99993 15.3989C10.1891 15.3989 10.3765 15.452 10.545 15.5563L15.2434 18.4886L14.0291 12.9065C13.9424 12.5093 14.0717 12.0945 14.3659 11.8257L18.486 8.05519L13.035 7.53865C12.6425 7.50123 12.305 7.24376 12.1516 6.86639L9.99993 1.60613L7.84564 6.86719C7.69397 7.24201 7.35643 7.49948 6.96488 7.5369L1.51309 8.05344L5.63306 11.824C5.92818 12.0935 6.05727 12.5075 5.96983 12.9058L4.75643 18.4877L9.45487 15.5563C9.62318 15.452 9.81072 15.3989 9.99993 15.3989ZM6.69571 6.35591C6.69571 6.35591 6.69571 6.35686 6.6948 6.35766L6.69571 6.35591ZM13.3025 6.35336L13.3034 6.35511C13.3034 6.35416 13.3034 6.35416 13.3025 6.35336Z" fill="#AE4B84"/>
                    <path d="M9.99993 15.3989C10.1891 15.3989 10.3765 15.452 10.545 15.5563L15.2434 18.4886L14.0291 12.9065C13.9424 12.5093 14.0717 12.0945 14.3659 11.8257L18.486 8.05519L13.035 7.53865C12.6425 7.50123 12.305 7.24376 12.1516 6.86639L9.99993 1.60613L7.84564 6.86719C7.69397 7.24201 7.35643 7.49948 6.96488 7.5369L1.51309 8.05344L5.63306 11.824C5.92818 12.0935 6.05727 12.5075 5.96983 12.9058L4.75643 18.4877L9.45487 15.5563C9.62318 15.452 9.81072 15.3989 9.99993 15.3989Z" fill="#AE4B84"/>
                </svg>
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M4.47642 20C4.2573 20 4.0397 19.9287 3.854 19.7885C3.50807 19.5269 3.34648 19.0773 3.44063 18.6434L4.72728 12.7292L0.36377 8.73605C0.0430226 8.44386 -0.0795084 7.98115 0.0521781 7.55776C0.183865 7.13517 0.54215 6.83598 0.966355 6.79506L6.73981 6.24811L9.02243 0.674012C9.19074 0.264478 9.57405 0 9.99993 0C10.4258 0 10.8091 0.264478 10.9774 0.673057L13.2601 6.24811L19.0326 6.79506C19.4577 6.83502 19.816 7.13517 19.9477 7.55776C20.0794 7.98035 19.9576 8.44386 19.6369 8.73605L15.2733 12.7284L16.56 18.6424C16.6543 19.0773 16.4926 19.5269 16.1468 19.7878C15.8018 20.0486 15.3417 20.0686 14.9784 19.8408L9.99993 16.7363L5.02148 19.8425C4.85317 19.9468 4.66563 20 4.47642 20ZM9.99993 15.3989C10.1891 15.3989 10.3765 15.452 10.545 15.5563L15.2434 18.4886L14.0291 12.9065C13.9424 12.5093 14.0717 12.0945 14.3659 11.8257L18.486 8.05519L13.035 7.53865C12.6425 7.50123 12.305 7.24376 12.1516 6.86639L9.99993 1.60613L7.84564 6.86719C7.69397 7.24201 7.35643 7.49948 6.96488 7.5369L1.51309 8.05344L5.63306 11.824C5.92818 12.0935 6.05727 12.5075 5.96983 12.9058L4.75643 18.4877L9.45487 15.5563C9.62318 15.452 9.81072 15.3989 9.99993 15.3989ZM6.69571 6.35591C6.69571 6.35591 6.69571 6.35686 6.6948 6.35766L6.69571 6.35591ZM13.3025 6.35336L13.3034 6.35511C13.3034 6.35416 13.3034 6.35416 13.3025 6.35336Z" fill="#AE4B84"/>
                    <path d="M9.99993 15.3989C10.1891 15.3989 10.3765 15.452 10.545 15.5563L15.2434 18.4886L14.0291 12.9065C13.9424 12.5093 14.0717 12.0945 14.3659 11.8257L18.486 8.05519L13.035 7.53865C12.6425 7.50123 12.305 7.24376 12.1516 6.86639L9.99993 1.60613L7.84564 6.86719C7.69397 7.24201 7.35643 7.49948 6.96488 7.5369L1.51309 8.05344L5.63306 11.824C5.92818 12.0935 6.05727 12.5075 5.96983 12.9058L4.75643 18.4877L9.45487 15.5563C9.62318 15.452 9.81072 15.3989 9.99993 15.3989Z" fill="#AE4B84"/>
                </svg>
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M4.47642 20C4.2573 20 4.0397 19.9287 3.854 19.7885C3.50807 19.5269 3.34648 19.0773 3.44063 18.6434L4.72728 12.7292L0.36377 8.73605C0.0430226 8.44386 -0.0795084 7.98115 0.0521781 7.55776C0.183865 7.13517 0.54215 6.83598 0.966355 6.79506L6.73981 6.24811L9.02243 0.674012C9.19074 0.264478 9.57405 0 9.99993 0C10.4258 0 10.8091 0.264478 10.9774 0.673057L13.2601 6.24811L19.0326 6.79506C19.4577 6.83502 19.816 7.13517 19.9477 7.55776C20.0794 7.98035 19.9576 8.44386 19.6369 8.73605L15.2733 12.7284L16.56 18.6424C16.6543 19.0773 16.4926 19.5269 16.1468 19.7878C15.8018 20.0486 15.3417 20.0686 14.9784 19.8408L9.99993 16.7363L5.02148 19.8425C4.85317 19.9468 4.66563 20 4.47642 20ZM9.99993 15.3989C10.1891 15.3989 10.3765 15.452 10.545 15.5563L15.2434 18.4886L14.0291 12.9065C13.9424 12.5093 14.0717 12.0945 14.3659 11.8257L18.486 8.05519L13.035 7.53865C12.6425 7.50123 12.305 7.24376 12.1516 6.86639L9.99993 1.60613L7.84564 6.86719C7.69397 7.24201 7.35643 7.49948 6.96488 7.5369L1.51309 8.05344L5.63306 11.824C5.92818 12.0935 6.05727 12.5075 5.96983 12.9058L4.75643 18.4877L9.45487 15.5563C9.62318 15.452 9.81072 15.3989 9.99993 15.3989ZM6.69571 6.35591C6.69571 6.35591 6.69571 6.35686 6.6948 6.35766L6.69571 6.35591ZM13.3025 6.35336L13.3034 6.35511C13.3034 6.35416 13.3034 6.35416 13.3025 6.35336Z" fill="#AE4B84"/>
                    <path d="M9.99993 15.3989C10.1891 15.3989 10.3765 15.452 10.545 15.5563L15.2434 18.4886L14.0291 12.9065C13.9424 12.5093 14.0717 12.0945 14.3659 11.8257L18.486 8.05519L13.035 7.53865C12.6425 7.50123 12.305 7.24376 12.1516 6.86639L9.99993 1.60613L7.84564 6.86719C7.69397 7.24201 7.35643 7.49948 6.96488 7.5369L1.51309 8.05344L5.63306 11.824C5.92818 12.0935 6.05727 12.5075 5.96983 12.9058L4.75643 18.4877L9.45487 15.5563C9.62318 15.452 9.81072 15.3989 9.99993 15.3989Z" fill="#AE4B84"/>
                </svg>
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M4.47642 20C4.2573 20 4.0397 19.9287 3.854 19.7885C3.50807 19.5269 3.34648 19.0773 3.44063 18.6434L4.72728 12.7292L0.36377 8.73605C0.0430226 8.44386 -0.0795084 7.98115 0.0521781 7.55776C0.183865 7.13517 0.54215 6.83598 0.966355 6.79506L6.73981 6.24811L9.02243 0.674012C9.19074 0.264478 9.57405 0 9.99993 0C10.4258 0 10.8091 0.264478 10.9774 0.673057L13.2601 6.24811L19.0326 6.79506C19.4577 6.83502 19.816 7.13517 19.9477 7.55776C20.0794 7.98035 19.9576 8.44386 19.6369 8.73605L15.2733 12.7284L16.56 18.6424C16.6543 19.0773 16.4926 19.5269 16.1468 19.7878C15.8018 20.0486 15.3417 20.0686 14.9784 19.8408L9.99993 16.7363L5.02148 19.8425C4.85317 19.9468 4.66563 20 4.47642 20ZM9.99993 15.3989C10.1891 15.3989 10.3765 15.452 10.545 15.5563L15.2434 18.4886L14.0291 12.9065C13.9424 12.5093 14.0717 12.0945 14.3659 11.8257L18.486 8.05519L13.035 7.53865C12.6425 7.50123 12.305 7.24376 12.1516 6.86639L9.99993 1.60613L7.84564 6.86719C7.69397 7.24201 7.35643 7.49948 6.96488 7.5369L1.51309 8.05344L5.63306 11.824C5.92818 12.0935 6.05727 12.5075 5.96983 12.9058L4.75643 18.4877L9.45487 15.5563C9.62318 15.452 9.81072 15.3989 9.99993 15.3989ZM6.69571 6.35591C6.69571 6.35591 6.69571 6.35686 6.6948 6.35766L6.69571 6.35591ZM13.3025 6.35336L13.3034 6.35511C13.3034 6.35416 13.3034 6.35416 13.3025 6.35336Z" fill="#AE4B84"/>
                    <path d="M9.99993 15.3989C10.1891 15.3989 10.3765 15.452 10.545 15.5563L15.2434 18.4886L14.0291 12.9065C13.9424 12.5093 14.0717 12.0945 14.3659 11.8257L18.486 8.05519L13.035 7.53865C12.6425 7.50123 12.305 7.24376 12.1516 6.86639L9.99993 1.60613L7.84564 6.86719C7.69397 7.24201 7.35643 7.49948 6.96488 7.5369L1.51309 8.05344L5.63306 11.824C5.92818 12.0935 6.05727 12.5075 5.96983 12.9058L4.75643 18.4877L9.45487 15.5563C9.62318 15.452 9.81072 15.3989 9.99993 15.3989Z" fill="#AE4B84"/>
                </svg>
            .feedback__text
                p Часто покупаю здесь букеты, качество цветов - супер, а цены не кусаются, что очень приятно. Если нужны недорогие цветы в Новосибирске, и при эт...
            .feedback__link
                p Читать полностью
                    <svg width="21" height="8" viewBox="0 0 21 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M20.3536 4.35356C20.5488 4.15829 20.5488 3.84171 20.3536 3.64645L17.1716 0.464468C16.9763 0.269205 16.6597 0.269205 16.4645 0.464468C16.2692 0.65973 16.2692 0.976312 16.4645 1.17157L19.2929 4L16.4645 6.82843C16.2692 7.02369 16.2692 7.34027 16.4645 7.53554C16.6597 7.7308 16.9763 7.7308 17.1716 7.53554L20.3536 4.35356ZM-4.37114e-08 4.5L20 4.5L20 3.5L4.37114e-08 3.5L-4.37114e-08 4.5Z" fill="#AE4B84"/>
                    </svg>
        a(href="#").feedback__item
            .feedback__title
                p Артем
                span 09.12.2020
            .feedback__star
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M4.47642 20C4.2573 20 4.0397 19.9287 3.854 19.7885C3.50807 19.5269 3.34648 19.0773 3.44063 18.6434L4.72728 12.7292L0.36377 8.73605C0.0430226 8.44386 -0.0795084 7.98115 0.0521781 7.55776C0.183865 7.13517 0.54215 6.83598 0.966355 6.79506L6.73981 6.24811L9.02243 0.674012C9.19074 0.264478 9.57405 0 9.99993 0C10.4258 0 10.8091 0.264478 10.9774 0.673057L13.2601 6.24811L19.0326 6.79506C19.4577 6.83502 19.816 7.13517 19.9477 7.55776C20.0794 7.98035 19.9576 8.44386 19.6369 8.73605L15.2733 12.7284L16.56 18.6424C16.6543 19.0773 16.4926 19.5269 16.1468 19.7878C15.8018 20.0486 15.3417 20.0686 14.9784 19.8408L9.99993 16.7363L5.02148 19.8425C4.85317 19.9468 4.66563 20 4.47642 20ZM9.99993 15.3989C10.1891 15.3989 10.3765 15.452 10.545 15.5563L15.2434 18.4886L14.0291 12.9065C13.9424 12.5093 14.0717 12.0945 14.3659 11.8257L18.486 8.05519L13.035 7.53865C12.6425 7.50123 12.305 7.24376 12.1516 6.86639L9.99993 1.60613L7.84564 6.86719C7.69397 7.24201 7.35643 7.49948 6.96488 7.5369L1.51309 8.05344L5.63306 11.824C5.92818 12.0935 6.05727 12.5075 5.96983 12.9058L4.75643 18.4877L9.45487 15.5563C9.62318 15.452 9.81072 15.3989 9.99993 15.3989ZM6.69571 6.35591C6.69571 6.35591 6.69571 6.35686 6.6948 6.35766L6.69571 6.35591ZM13.3025 6.35336L13.3034 6.35511C13.3034 6.35416 13.3034 6.35416 13.3025 6.35336Z" fill="#AE4B84"/>
                    <path d="M9.99993 15.3989C10.1891 15.3989 10.3765 15.452 10.545 15.5563L15.2434 18.4886L14.0291 12.9065C13.9424 12.5093 14.0717 12.0945 14.3659 11.8257L18.486 8.05519L13.035 7.53865C12.6425 7.50123 12.305 7.24376 12.1516 6.86639L9.99993 1.60613L7.84564 6.86719C7.69397 7.24201 7.35643 7.49948 6.96488 7.5369L1.51309 8.05344L5.63306 11.824C5.92818 12.0935 6.05727 12.5075 5.96983 12.9058L4.75643 18.4877L9.45487 15.5563C9.62318 15.452 9.81072 15.3989 9.99993 15.3989Z" fill="#AE4B84"/>
                </svg>
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M4.47642 20C4.2573 20 4.0397 19.9287 3.854 19.7885C3.50807 19.5269 3.34648 19.0773 3.44063 18.6434L4.72728 12.7292L0.36377 8.73605C0.0430226 8.44386 -0.0795084 7.98115 0.0521781 7.55776C0.183865 7.13517 0.54215 6.83598 0.966355 6.79506L6.73981 6.24811L9.02243 0.674012C9.19074 0.264478 9.57405 0 9.99993 0C10.4258 0 10.8091 0.264478 10.9774 0.673057L13.2601 6.24811L19.0326 6.79506C19.4577 6.83502 19.816 7.13517 19.9477 7.55776C20.0794 7.98035 19.9576 8.44386 19.6369 8.73605L15.2733 12.7284L16.56 18.6424C16.6543 19.0773 16.4926 19.5269 16.1468 19.7878C15.8018 20.0486 15.3417 20.0686 14.9784 19.8408L9.99993 16.7363L5.02148 19.8425C4.85317 19.9468 4.66563 20 4.47642 20ZM9.99993 15.3989C10.1891 15.3989 10.3765 15.452 10.545 15.5563L15.2434 18.4886L14.0291 12.9065C13.9424 12.5093 14.0717 12.0945 14.3659 11.8257L18.486 8.05519L13.035 7.53865C12.6425 7.50123 12.305 7.24376 12.1516 6.86639L9.99993 1.60613L7.84564 6.86719C7.69397 7.24201 7.35643 7.49948 6.96488 7.5369L1.51309 8.05344L5.63306 11.824C5.92818 12.0935 6.05727 12.5075 5.96983 12.9058L4.75643 18.4877L9.45487 15.5563C9.62318 15.452 9.81072 15.3989 9.99993 15.3989ZM6.69571 6.35591C6.69571 6.35591 6.69571 6.35686 6.6948 6.35766L6.69571 6.35591ZM13.3025 6.35336L13.3034 6.35511C13.3034 6.35416 13.3034 6.35416 13.3025 6.35336Z" fill="#AE4B84"/>
                    <path d="M9.99993 15.3989C10.1891 15.3989 10.3765 15.452 10.545 15.5563L15.2434 18.4886L14.0291 12.9065C13.9424 12.5093 14.0717 12.0945 14.3659 11.8257L18.486 8.05519L13.035 7.53865C12.6425 7.50123 12.305 7.24376 12.1516 6.86639L9.99993 1.60613L7.84564 6.86719C7.69397 7.24201 7.35643 7.49948 6.96488 7.5369L1.51309 8.05344L5.63306 11.824C5.92818 12.0935 6.05727 12.5075 5.96983 12.9058L4.75643 18.4877L9.45487 15.5563C9.62318 15.452 9.81072 15.3989 9.99993 15.3989Z" fill="#AE4B84"/>
                </svg>
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M4.47642 20C4.2573 20 4.0397 19.9287 3.854 19.7885C3.50807 19.5269 3.34648 19.0773 3.44063 18.6434L4.72728 12.7292L0.36377 8.73605C0.0430226 8.44386 -0.0795084 7.98115 0.0521781 7.55776C0.183865 7.13517 0.54215 6.83598 0.966355 6.79506L6.73981 6.24811L9.02243 0.674012C9.19074 0.264478 9.57405 0 9.99993 0C10.4258 0 10.8091 0.264478 10.9774 0.673057L13.2601 6.24811L19.0326 6.79506C19.4577 6.83502 19.816 7.13517 19.9477 7.55776C20.0794 7.98035 19.9576 8.44386 19.6369 8.73605L15.2733 12.7284L16.56 18.6424C16.6543 19.0773 16.4926 19.5269 16.1468 19.7878C15.8018 20.0486 15.3417 20.0686 14.9784 19.8408L9.99993 16.7363L5.02148 19.8425C4.85317 19.9468 4.66563 20 4.47642 20ZM9.99993 15.3989C10.1891 15.3989 10.3765 15.452 10.545 15.5563L15.2434 18.4886L14.0291 12.9065C13.9424 12.5093 14.0717 12.0945 14.3659 11.8257L18.486 8.05519L13.035 7.53865C12.6425 7.50123 12.305 7.24376 12.1516 6.86639L9.99993 1.60613L7.84564 6.86719C7.69397 7.24201 7.35643 7.49948 6.96488 7.5369L1.51309 8.05344L5.63306 11.824C5.92818 12.0935 6.05727 12.5075 5.96983 12.9058L4.75643 18.4877L9.45487 15.5563C9.62318 15.452 9.81072 15.3989 9.99993 15.3989ZM6.69571 6.35591C6.69571 6.35591 6.69571 6.35686 6.6948 6.35766L6.69571 6.35591ZM13.3025 6.35336L13.3034 6.35511C13.3034 6.35416 13.3034 6.35416 13.3025 6.35336Z" fill="#AE4B84"/>
                    <path d="M9.99993 15.3989C10.1891 15.3989 10.3765 15.452 10.545 15.5563L15.2434 18.4886L14.0291 12.9065C13.9424 12.5093 14.0717 12.0945 14.3659 11.8257L18.486 8.05519L13.035 7.53865C12.6425 7.50123 12.305 7.24376 12.1516 6.86639L9.99993 1.60613L7.84564 6.86719C7.69397 7.24201 7.35643 7.49948 6.96488 7.5369L1.51309 8.05344L5.63306 11.824C5.92818 12.0935 6.05727 12.5075 5.96983 12.9058L4.75643 18.4877L9.45487 15.5563C9.62318 15.452 9.81072 15.3989 9.99993 15.3989Z" fill="#AE4B84"/>
                </svg>
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M4.47642 20C4.2573 20 4.0397 19.9287 3.854 19.7885C3.50807 19.5269 3.34648 19.0773 3.44063 18.6434L4.72728 12.7292L0.36377 8.73605C0.0430226 8.44386 -0.0795084 7.98115 0.0521781 7.55776C0.183865 7.13517 0.54215 6.83598 0.966355 6.79506L6.73981 6.24811L9.02243 0.674012C9.19074 0.264478 9.57405 0 9.99993 0C10.4258 0 10.8091 0.264478 10.9774 0.673057L13.2601 6.24811L19.0326 6.79506C19.4577 6.83502 19.816 7.13517 19.9477 7.55776C20.0794 7.98035 19.9576 8.44386 19.6369 8.73605L15.2733 12.7284L16.56 18.6424C16.6543 19.0773 16.4926 19.5269 16.1468 19.7878C15.8018 20.0486 15.3417 20.0686 14.9784 19.8408L9.99993 16.7363L5.02148 19.8425C4.85317 19.9468 4.66563 20 4.47642 20ZM9.99993 15.3989C10.1891 15.3989 10.3765 15.452 10.545 15.5563L15.2434 18.4886L14.0291 12.9065C13.9424 12.5093 14.0717 12.0945 14.3659 11.8257L18.486 8.05519L13.035 7.53865C12.6425 7.50123 12.305 7.24376 12.1516 6.86639L9.99993 1.60613L7.84564 6.86719C7.69397 7.24201 7.35643 7.49948 6.96488 7.5369L1.51309 8.05344L5.63306 11.824C5.92818 12.0935 6.05727 12.5075 5.96983 12.9058L4.75643 18.4877L9.45487 15.5563C9.62318 15.452 9.81072 15.3989 9.99993 15.3989ZM6.69571 6.35591C6.69571 6.35591 6.69571 6.35686 6.6948 6.35766L6.69571 6.35591ZM13.3025 6.35336L13.3034 6.35511C13.3034 6.35416 13.3034 6.35416 13.3025 6.35336Z" fill="#AE4B84"/>
                    <path d="M9.99993 15.3989C10.1891 15.3989 10.3765 15.452 10.545 15.5563L15.2434 18.4886L14.0291 12.9065C13.9424 12.5093 14.0717 12.0945 14.3659 11.8257L18.486 8.05519L13.035 7.53865C12.6425 7.50123 12.305 7.24376 12.1516 6.86639L9.99993 1.60613L7.84564 6.86719C7.69397 7.24201 7.35643 7.49948 6.96488 7.5369L1.51309 8.05344L5.63306 11.824C5.92818 12.0935 6.05727 12.5075 5.96983 12.9058L4.75643 18.4877L9.45487 15.5563C9.62318 15.452 9.81072 15.3989 9.99993 15.3989Z" fill="#AE4B84"/>
                </svg>
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M4.47642 20C4.2573 20 4.0397 19.9287 3.854 19.7885C3.50807 19.5269 3.34648 19.0773 3.44063 18.6434L4.72728 12.7292L0.36377 8.73605C0.0430226 8.44386 -0.0795084 7.98115 0.0521781 7.55776C0.183865 7.13517 0.54215 6.83598 0.966355 6.79506L6.73981 6.24811L9.02243 0.674012C9.19074 0.264478 9.57405 0 9.99993 0C10.4258 0 10.8091 0.264478 10.9774 0.673057L13.2601 6.24811L19.0326 6.79506C19.4577 6.83502 19.816 7.13517 19.9477 7.55776C20.0794 7.98035 19.9576 8.44386 19.6369 8.73605L15.2733 12.7284L16.56 18.6424C16.6543 19.0773 16.4926 19.5269 16.1468 19.7878C15.8018 20.0486 15.3417 20.0686 14.9784 19.8408L9.99993 16.7363L5.02148 19.8425C4.85317 19.9468 4.66563 20 4.47642 20ZM9.99993 15.3989C10.1891 15.3989 10.3765 15.452 10.545 15.5563L15.2434 18.4886L14.0291 12.9065C13.9424 12.5093 14.0717 12.0945 14.3659 11.8257L18.486 8.05519L13.035 7.53865C12.6425 7.50123 12.305 7.24376 12.1516 6.86639L9.99993 1.60613L7.84564 6.86719C7.69397 7.24201 7.35643 7.49948 6.96488 7.5369L1.51309 8.05344L5.63306 11.824C5.92818 12.0935 6.05727 12.5075 5.96983 12.9058L4.75643 18.4877L9.45487 15.5563C9.62318 15.452 9.81072 15.3989 9.99993 15.3989ZM6.69571 6.35591C6.69571 6.35591 6.69571 6.35686 6.6948 6.35766L6.69571 6.35591ZM13.3025 6.35336L13.3034 6.35511C13.3034 6.35416 13.3034 6.35416 13.3025 6.35336Z" fill="#AE4B84"/>
                    <path d="M9.99993 15.3989C10.1891 15.3989 10.3765 15.452 10.545 15.5563L15.2434 18.4886L14.0291 12.9065C13.9424 12.5093 14.0717 12.0945 14.3659 11.8257L18.486 8.05519L13.035 7.53865C12.6425 7.50123 12.305 7.24376 12.1516 6.86639L9.99993 1.60613L7.84564 6.86719C7.69397 7.24201 7.35643 7.49948 6.96488 7.5369L1.51309 8.05344L5.63306 11.824C5.92818 12.0935 6.05727 12.5075 5.96983 12.9058L4.75643 18.4877L9.45487 15.5563C9.62318 15.452 9.81072 15.3989 9.99993 15.3989Z" fill="#AE4B84"/>
                </svg>
            .feedback__text
                p Часто покупаю здесь букеты, качество цветов - супер, а цены не кусаются, что очень приятно. Если нужны недорогие цветы в Новосибирске, и при эт...
            .feedback__link
                p Читать полностью
                    <svg width="21" height="8" viewBox="0 0 21 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M20.3536 4.35356C20.5488 4.15829 20.5488 3.84171 20.3536 3.64645L17.1716 0.464468C16.9763 0.269205 16.6597 0.269205 16.4645 0.464468C16.2692 0.65973 16.2692 0.976312 16.4645 1.17157L19.2929 4L16.4645 6.82843C16.2692 7.02369 16.2692 7.34027 16.4645 7.53554C16.6597 7.7308 16.9763 7.7308 17.1716 7.53554L20.3536 4.35356ZM-4.37114e-08 4.5L20 4.5L20 3.5L4.37114e-08 3.5L-4.37114e-08 4.5Z" fill="#AE4B84"/>
                    </svg>
        a(href="#").feedback__item
            .feedback__title
                p Ольга
                span 09.12.2020
            .feedback__star
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M4.47642 20C4.2573 20 4.0397 19.9287 3.854 19.7885C3.50807 19.5269 3.34648 19.0773 3.44063 18.6434L4.72728 12.7292L0.36377 8.73605C0.0430226 8.44386 -0.0795084 7.98115 0.0521781 7.55776C0.183865 7.13517 0.54215 6.83598 0.966355 6.79506L6.73981 6.24811L9.02243 0.674012C9.19074 0.264478 9.57405 0 9.99993 0C10.4258 0 10.8091 0.264478 10.9774 0.673057L13.2601 6.24811L19.0326 6.79506C19.4577 6.83502 19.816 7.13517 19.9477 7.55776C20.0794 7.98035 19.9576 8.44386 19.6369 8.73605L15.2733 12.7284L16.56 18.6424C16.6543 19.0773 16.4926 19.5269 16.1468 19.7878C15.8018 20.0486 15.3417 20.0686 14.9784 19.8408L9.99993 16.7363L5.02148 19.8425C4.85317 19.9468 4.66563 20 4.47642 20ZM9.99993 15.3989C10.1891 15.3989 10.3765 15.452 10.545 15.5563L15.2434 18.4886L14.0291 12.9065C13.9424 12.5093 14.0717 12.0945 14.3659 11.8257L18.486 8.05519L13.035 7.53865C12.6425 7.50123 12.305 7.24376 12.1516 6.86639L9.99993 1.60613L7.84564 6.86719C7.69397 7.24201 7.35643 7.49948 6.96488 7.5369L1.51309 8.05344L5.63306 11.824C5.92818 12.0935 6.05727 12.5075 5.96983 12.9058L4.75643 18.4877L9.45487 15.5563C9.62318 15.452 9.81072 15.3989 9.99993 15.3989ZM6.69571 6.35591C6.69571 6.35591 6.69571 6.35686 6.6948 6.35766L6.69571 6.35591ZM13.3025 6.35336L13.3034 6.35511C13.3034 6.35416 13.3034 6.35416 13.3025 6.35336Z" fill="#AE4B84"/>
                    <path d="M9.99993 15.3989C10.1891 15.3989 10.3765 15.452 10.545 15.5563L15.2434 18.4886L14.0291 12.9065C13.9424 12.5093 14.0717 12.0945 14.3659 11.8257L18.486 8.05519L13.035 7.53865C12.6425 7.50123 12.305 7.24376 12.1516 6.86639L9.99993 1.60613L7.84564 6.86719C7.69397 7.24201 7.35643 7.49948 6.96488 7.5369L1.51309 8.05344L5.63306 11.824C5.92818 12.0935 6.05727 12.5075 5.96983 12.9058L4.75643 18.4877L9.45487 15.5563C9.62318 15.452 9.81072 15.3989 9.99993 15.3989Z" fill="#AE4B84"/>
                </svg>
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M4.47642 20C4.2573 20 4.0397 19.9287 3.854 19.7885C3.50807 19.5269 3.34648 19.0773 3.44063 18.6434L4.72728 12.7292L0.36377 8.73605C0.0430226 8.44386 -0.0795084 7.98115 0.0521781 7.55776C0.183865 7.13517 0.54215 6.83598 0.966355 6.79506L6.73981 6.24811L9.02243 0.674012C9.19074 0.264478 9.57405 0 9.99993 0C10.4258 0 10.8091 0.264478 10.9774 0.673057L13.2601 6.24811L19.0326 6.79506C19.4577 6.83502 19.816 7.13517 19.9477 7.55776C20.0794 7.98035 19.9576 8.44386 19.6369 8.73605L15.2733 12.7284L16.56 18.6424C16.6543 19.0773 16.4926 19.5269 16.1468 19.7878C15.8018 20.0486 15.3417 20.0686 14.9784 19.8408L9.99993 16.7363L5.02148 19.8425C4.85317 19.9468 4.66563 20 4.47642 20ZM9.99993 15.3989C10.1891 15.3989 10.3765 15.452 10.545 15.5563L15.2434 18.4886L14.0291 12.9065C13.9424 12.5093 14.0717 12.0945 14.3659 11.8257L18.486 8.05519L13.035 7.53865C12.6425 7.50123 12.305 7.24376 12.1516 6.86639L9.99993 1.60613L7.84564 6.86719C7.69397 7.24201 7.35643 7.49948 6.96488 7.5369L1.51309 8.05344L5.63306 11.824C5.92818 12.0935 6.05727 12.5075 5.96983 12.9058L4.75643 18.4877L9.45487 15.5563C9.62318 15.452 9.81072 15.3989 9.99993 15.3989ZM6.69571 6.35591C6.69571 6.35591 6.69571 6.35686 6.6948 6.35766L6.69571 6.35591ZM13.3025 6.35336L13.3034 6.35511C13.3034 6.35416 13.3034 6.35416 13.3025 6.35336Z" fill="#AE4B84"/>
                    <path d="M9.99993 15.3989C10.1891 15.3989 10.3765 15.452 10.545 15.5563L15.2434 18.4886L14.0291 12.9065C13.9424 12.5093 14.0717 12.0945 14.3659 11.8257L18.486 8.05519L13.035 7.53865C12.6425 7.50123 12.305 7.24376 12.1516 6.86639L9.99993 1.60613L7.84564 6.86719C7.69397 7.24201 7.35643 7.49948 6.96488 7.5369L1.51309 8.05344L5.63306 11.824C5.92818 12.0935 6.05727 12.5075 5.96983 12.9058L4.75643 18.4877L9.45487 15.5563C9.62318 15.452 9.81072 15.3989 9.99993 15.3989Z" fill="#AE4B84"/>
                </svg>
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M4.47642 20C4.2573 20 4.0397 19.9287 3.854 19.7885C3.50807 19.5269 3.34648 19.0773 3.44063 18.6434L4.72728 12.7292L0.36377 8.73605C0.0430226 8.44386 -0.0795084 7.98115 0.0521781 7.55776C0.183865 7.13517 0.54215 6.83598 0.966355 6.79506L6.73981 6.24811L9.02243 0.674012C9.19074 0.264478 9.57405 0 9.99993 0C10.4258 0 10.8091 0.264478 10.9774 0.673057L13.2601 6.24811L19.0326 6.79506C19.4577 6.83502 19.816 7.13517 19.9477 7.55776C20.0794 7.98035 19.9576 8.44386 19.6369 8.73605L15.2733 12.7284L16.56 18.6424C16.6543 19.0773 16.4926 19.5269 16.1468 19.7878C15.8018 20.0486 15.3417 20.0686 14.9784 19.8408L9.99993 16.7363L5.02148 19.8425C4.85317 19.9468 4.66563 20 4.47642 20ZM9.99993 15.3989C10.1891 15.3989 10.3765 15.452 10.545 15.5563L15.2434 18.4886L14.0291 12.9065C13.9424 12.5093 14.0717 12.0945 14.3659 11.8257L18.486 8.05519L13.035 7.53865C12.6425 7.50123 12.305 7.24376 12.1516 6.86639L9.99993 1.60613L7.84564 6.86719C7.69397 7.24201 7.35643 7.49948 6.96488 7.5369L1.51309 8.05344L5.63306 11.824C5.92818 12.0935 6.05727 12.5075 5.96983 12.9058L4.75643 18.4877L9.45487 15.5563C9.62318 15.452 9.81072 15.3989 9.99993 15.3989ZM6.69571 6.35591C6.69571 6.35591 6.69571 6.35686 6.6948 6.35766L6.69571 6.35591ZM13.3025 6.35336L13.3034 6.35511C13.3034 6.35416 13.3034 6.35416 13.3025 6.35336Z" fill="#AE4B84"/>
                    <path d="M9.99993 15.3989C10.1891 15.3989 10.3765 15.452 10.545 15.5563L15.2434 18.4886L14.0291 12.9065C13.9424 12.5093 14.0717 12.0945 14.3659 11.8257L18.486 8.05519L13.035 7.53865C12.6425 7.50123 12.305 7.24376 12.1516 6.86639L9.99993 1.60613L7.84564 6.86719C7.69397 7.24201 7.35643 7.49948 6.96488 7.5369L1.51309 8.05344L5.63306 11.824C5.92818 12.0935 6.05727 12.5075 5.96983 12.9058L4.75643 18.4877L9.45487 15.5563C9.62318 15.452 9.81072 15.3989 9.99993 15.3989Z" fill="#AE4B84"/>
                </svg>
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M4.47642 20C4.2573 20 4.0397 19.9287 3.854 19.7885C3.50807 19.5269 3.34648 19.0773 3.44063 18.6434L4.72728 12.7292L0.36377 8.73605C0.0430226 8.44386 -0.0795084 7.98115 0.0521781 7.55776C0.183865 7.13517 0.54215 6.83598 0.966355 6.79506L6.73981 6.24811L9.02243 0.674012C9.19074 0.264478 9.57405 0 9.99993 0C10.4258 0 10.8091 0.264478 10.9774 0.673057L13.2601 6.24811L19.0326 6.79506C19.4577 6.83502 19.816 7.13517 19.9477 7.55776C20.0794 7.98035 19.9576 8.44386 19.6369 8.73605L15.2733 12.7284L16.56 18.6424C16.6543 19.0773 16.4926 19.5269 16.1468 19.7878C15.8018 20.0486 15.3417 20.0686 14.9784 19.8408L9.99993 16.7363L5.02148 19.8425C4.85317 19.9468 4.66563 20 4.47642 20ZM9.99993 15.3989C10.1891 15.3989 10.3765 15.452 10.545 15.5563L15.2434 18.4886L14.0291 12.9065C13.9424 12.5093 14.0717 12.0945 14.3659 11.8257L18.486 8.05519L13.035 7.53865C12.6425 7.50123 12.305 7.24376 12.1516 6.86639L9.99993 1.60613L7.84564 6.86719C7.69397 7.24201 7.35643 7.49948 6.96488 7.5369L1.51309 8.05344L5.63306 11.824C5.92818 12.0935 6.05727 12.5075 5.96983 12.9058L4.75643 18.4877L9.45487 15.5563C9.62318 15.452 9.81072 15.3989 9.99993 15.3989ZM6.69571 6.35591C6.69571 6.35591 6.69571 6.35686 6.6948 6.35766L6.69571 6.35591ZM13.3025 6.35336L13.3034 6.35511C13.3034 6.35416 13.3034 6.35416 13.3025 6.35336Z" fill="#AE4B84"/>
                    <path d="M9.99993 15.3989C10.1891 15.3989 10.3765 15.452 10.545 15.5563L15.2434 18.4886L14.0291 12.9065C13.9424 12.5093 14.0717 12.0945 14.3659 11.8257L18.486 8.05519L13.035 7.53865C12.6425 7.50123 12.305 7.24376 12.1516 6.86639L9.99993 1.60613L7.84564 6.86719C7.69397 7.24201 7.35643 7.49948 6.96488 7.5369L1.51309 8.05344L5.63306 11.824C5.92818 12.0935 6.05727 12.5075 5.96983 12.9058L4.75643 18.4877L9.45487 15.5563C9.62318 15.452 9.81072 15.3989 9.99993 15.3989Z" fill="#AE4B84"/>
                </svg>
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M4.47642 20C4.2573 20 4.0397 19.9287 3.854 19.7885C3.50807 19.5269 3.34648 19.0773 3.44063 18.6434L4.72728 12.7292L0.36377 8.73605C0.0430226 8.44386 -0.0795084 7.98115 0.0521781 7.55776C0.183865 7.13517 0.54215 6.83598 0.966355 6.79506L6.73981 6.24811L9.02243 0.674012C9.19074 0.264478 9.57405 0 9.99993 0C10.4258 0 10.8091 0.264478 10.9774 0.673057L13.2601 6.24811L19.0326 6.79506C19.4577 6.83502 19.816 7.13517 19.9477 7.55776C20.0794 7.98035 19.9576 8.44386 19.6369 8.73605L15.2733 12.7284L16.56 18.6424C16.6543 19.0773 16.4926 19.5269 16.1468 19.7878C15.8018 20.0486 15.3417 20.0686 14.9784 19.8408L9.99993 16.7363L5.02148 19.8425C4.85317 19.9468 4.66563 20 4.47642 20ZM9.99993 15.3989C10.1891 15.3989 10.3765 15.452 10.545 15.5563L15.2434 18.4886L14.0291 12.9065C13.9424 12.5093 14.0717 12.0945 14.3659 11.8257L18.486 8.05519L13.035 7.53865C12.6425 7.50123 12.305 7.24376 12.1516 6.86639L9.99993 1.60613L7.84564 6.86719C7.69397 7.24201 7.35643 7.49948 6.96488 7.5369L1.51309 8.05344L5.63306 11.824C5.92818 12.0935 6.05727 12.5075 5.96983 12.9058L4.75643 18.4877L9.45487 15.5563C9.62318 15.452 9.81072 15.3989 9.99993 15.3989ZM6.69571 6.35591C6.69571 6.35591 6.69571 6.35686 6.6948 6.35766L6.69571 6.35591ZM13.3025 6.35336L13.3034 6.35511C13.3034 6.35416 13.3034 6.35416 13.3025 6.35336Z" fill="#AE4B84"/>
                    <path d="M9.99993 15.3989C10.1891 15.3989 10.3765 15.452 10.545 15.5563L15.2434 18.4886L14.0291 12.9065C13.9424 12.5093 14.0717 12.0945 14.3659 11.8257L18.486 8.05519L13.035 7.53865C12.6425 7.50123 12.305 7.24376 12.1516 6.86639L9.99993 1.60613L7.84564 6.86719C7.69397 7.24201 7.35643 7.49948 6.96488 7.5369L1.51309 8.05344L5.63306 11.824C5.92818 12.0935 6.05727 12.5075 5.96983 12.9058L4.75643 18.4877L9.45487 15.5563C9.62318 15.452 9.81072 15.3989 9.99993 15.3989Z" fill="#AE4B84"/>
                </svg>
            .feedback__text
                p Часто покупаю здесь букеты, качество цветов - супер, а цены не кусаются, что очень приятно. Если нужны недорогие цветы в Новосибирске, и при эт...
            .feedback__link
                p Читать полностью
                    <svg width="21" height="8" viewBox="0 0 21 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M20.3536 4.35356C20.5488 4.15829 20.5488 3.84171 20.3536 3.64645L17.1716 0.464468C16.9763 0.269205 16.6597 0.269205 16.4645 0.464468C16.2692 0.65973 16.2692 0.976312 16.4645 1.17157L19.2929 4L16.4645 6.82843C16.2692 7.02369 16.2692 7.34027 16.4645 7.53554C16.6597 7.7308 16.9763 7.7308 17.1716 7.53554L20.3536 4.35356ZM-4.37114e-08 4.5L20 4.5L20 3.5L4.37114e-08 3.5L-4.37114e-08 4.5Z" fill="#AE4B84"/>
                    </svg>
        a(href="#").feedback__item
            .feedback__title
                p Карина
                span 09.12.2020
            .feedback__star
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M4.47642 20C4.2573 20 4.0397 19.9287 3.854 19.7885C3.50807 19.5269 3.34648 19.0773 3.44063 18.6434L4.72728 12.7292L0.36377 8.73605C0.0430226 8.44386 -0.0795084 7.98115 0.0521781 7.55776C0.183865 7.13517 0.54215 6.83598 0.966355 6.79506L6.73981 6.24811L9.02243 0.674012C9.19074 0.264478 9.57405 0 9.99993 0C10.4258 0 10.8091 0.264478 10.9774 0.673057L13.2601 6.24811L19.0326 6.79506C19.4577 6.83502 19.816 7.13517 19.9477 7.55776C20.0794 7.98035 19.9576 8.44386 19.6369 8.73605L15.2733 12.7284L16.56 18.6424C16.6543 19.0773 16.4926 19.5269 16.1468 19.7878C15.8018 20.0486 15.3417 20.0686 14.9784 19.8408L9.99993 16.7363L5.02148 19.8425C4.85317 19.9468 4.66563 20 4.47642 20ZM9.99993 15.3989C10.1891 15.3989 10.3765 15.452 10.545 15.5563L15.2434 18.4886L14.0291 12.9065C13.9424 12.5093 14.0717 12.0945 14.3659 11.8257L18.486 8.05519L13.035 7.53865C12.6425 7.50123 12.305 7.24376 12.1516 6.86639L9.99993 1.60613L7.84564 6.86719C7.69397 7.24201 7.35643 7.49948 6.96488 7.5369L1.51309 8.05344L5.63306 11.824C5.92818 12.0935 6.05727 12.5075 5.96983 12.9058L4.75643 18.4877L9.45487 15.5563C9.62318 15.452 9.81072 15.3989 9.99993 15.3989ZM6.69571 6.35591C6.69571 6.35591 6.69571 6.35686 6.6948 6.35766L6.69571 6.35591ZM13.3025 6.35336L13.3034 6.35511C13.3034 6.35416 13.3034 6.35416 13.3025 6.35336Z" fill="#AE4B84"/>
                    <path d="M9.99993 15.3989C10.1891 15.3989 10.3765 15.452 10.545 15.5563L15.2434 18.4886L14.0291 12.9065C13.9424 12.5093 14.0717 12.0945 14.3659 11.8257L18.486 8.05519L13.035 7.53865C12.6425 7.50123 12.305 7.24376 12.1516 6.86639L9.99993 1.60613L7.84564 6.86719C7.69397 7.24201 7.35643 7.49948 6.96488 7.5369L1.51309 8.05344L5.63306 11.824C5.92818 12.0935 6.05727 12.5075 5.96983 12.9058L4.75643 18.4877L9.45487 15.5563C9.62318 15.452 9.81072 15.3989 9.99993 15.3989Z" fill="#AE4B84"/>
                </svg>
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M4.47642 20C4.2573 20 4.0397 19.9287 3.854 19.7885C3.50807 19.5269 3.34648 19.0773 3.44063 18.6434L4.72728 12.7292L0.36377 8.73605C0.0430226 8.44386 -0.0795084 7.98115 0.0521781 7.55776C0.183865 7.13517 0.54215 6.83598 0.966355 6.79506L6.73981 6.24811L9.02243 0.674012C9.19074 0.264478 9.57405 0 9.99993 0C10.4258 0 10.8091 0.264478 10.9774 0.673057L13.2601 6.24811L19.0326 6.79506C19.4577 6.83502 19.816 7.13517 19.9477 7.55776C20.0794 7.98035 19.9576 8.44386 19.6369 8.73605L15.2733 12.7284L16.56 18.6424C16.6543 19.0773 16.4926 19.5269 16.1468 19.7878C15.8018 20.0486 15.3417 20.0686 14.9784 19.8408L9.99993 16.7363L5.02148 19.8425C4.85317 19.9468 4.66563 20 4.47642 20ZM9.99993 15.3989C10.1891 15.3989 10.3765 15.452 10.545 15.5563L15.2434 18.4886L14.0291 12.9065C13.9424 12.5093 14.0717 12.0945 14.3659 11.8257L18.486 8.05519L13.035 7.53865C12.6425 7.50123 12.305 7.24376 12.1516 6.86639L9.99993 1.60613L7.84564 6.86719C7.69397 7.24201 7.35643 7.49948 6.96488 7.5369L1.51309 8.05344L5.63306 11.824C5.92818 12.0935 6.05727 12.5075 5.96983 12.9058L4.75643 18.4877L9.45487 15.5563C9.62318 15.452 9.81072 15.3989 9.99993 15.3989ZM6.69571 6.35591C6.69571 6.35591 6.69571 6.35686 6.6948 6.35766L6.69571 6.35591ZM13.3025 6.35336L13.3034 6.35511C13.3034 6.35416 13.3034 6.35416 13.3025 6.35336Z" fill="#AE4B84"/>
                    <path d="M9.99993 15.3989C10.1891 15.3989 10.3765 15.452 10.545 15.5563L15.2434 18.4886L14.0291 12.9065C13.9424 12.5093 14.0717 12.0945 14.3659 11.8257L18.486 8.05519L13.035 7.53865C12.6425 7.50123 12.305 7.24376 12.1516 6.86639L9.99993 1.60613L7.84564 6.86719C7.69397 7.24201 7.35643 7.49948 6.96488 7.5369L1.51309 8.05344L5.63306 11.824C5.92818 12.0935 6.05727 12.5075 5.96983 12.9058L4.75643 18.4877L9.45487 15.5563C9.62318 15.452 9.81072 15.3989 9.99993 15.3989Z" fill="#AE4B84"/>
                </svg>
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M4.47642 20C4.2573 20 4.0397 19.9287 3.854 19.7885C3.50807 19.5269 3.34648 19.0773 3.44063 18.6434L4.72728 12.7292L0.36377 8.73605C0.0430226 8.44386 -0.0795084 7.98115 0.0521781 7.55776C0.183865 7.13517 0.54215 6.83598 0.966355 6.79506L6.73981 6.24811L9.02243 0.674012C9.19074 0.264478 9.57405 0 9.99993 0C10.4258 0 10.8091 0.264478 10.9774 0.673057L13.2601 6.24811L19.0326 6.79506C19.4577 6.83502 19.816 7.13517 19.9477 7.55776C20.0794 7.98035 19.9576 8.44386 19.6369 8.73605L15.2733 12.7284L16.56 18.6424C16.6543 19.0773 16.4926 19.5269 16.1468 19.7878C15.8018 20.0486 15.3417 20.0686 14.9784 19.8408L9.99993 16.7363L5.02148 19.8425C4.85317 19.9468 4.66563 20 4.47642 20ZM9.99993 15.3989C10.1891 15.3989 10.3765 15.452 10.545 15.5563L15.2434 18.4886L14.0291 12.9065C13.9424 12.5093 14.0717 12.0945 14.3659 11.8257L18.486 8.05519L13.035 7.53865C12.6425 7.50123 12.305 7.24376 12.1516 6.86639L9.99993 1.60613L7.84564 6.86719C7.69397 7.24201 7.35643 7.49948 6.96488 7.5369L1.51309 8.05344L5.63306 11.824C5.92818 12.0935 6.05727 12.5075 5.96983 12.9058L4.75643 18.4877L9.45487 15.5563C9.62318 15.452 9.81072 15.3989 9.99993 15.3989ZM6.69571 6.35591C6.69571 6.35591 6.69571 6.35686 6.6948 6.35766L6.69571 6.35591ZM13.3025 6.35336L13.3034 6.35511C13.3034 6.35416 13.3034 6.35416 13.3025 6.35336Z" fill="#AE4B84"/>
                    <path d="M9.99993 15.3989C10.1891 15.3989 10.3765 15.452 10.545 15.5563L15.2434 18.4886L14.0291 12.9065C13.9424 12.5093 14.0717 12.0945 14.3659 11.8257L18.486 8.05519L13.035 7.53865C12.6425 7.50123 12.305 7.24376 12.1516 6.86639L9.99993 1.60613L7.84564 6.86719C7.69397 7.24201 7.35643 7.49948 6.96488 7.5369L1.51309 8.05344L5.63306 11.824C5.92818 12.0935 6.05727 12.5075 5.96983 12.9058L4.75643 18.4877L9.45487 15.5563C9.62318 15.452 9.81072 15.3989 9.99993 15.3989Z" fill="#AE4B84"/>
                </svg>
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M4.47642 20C4.2573 20 4.0397 19.9287 3.854 19.7885C3.50807 19.5269 3.34648 19.0773 3.44063 18.6434L4.72728 12.7292L0.36377 8.73605C0.0430226 8.44386 -0.0795084 7.98115 0.0521781 7.55776C0.183865 7.13517 0.54215 6.83598 0.966355 6.79506L6.73981 6.24811L9.02243 0.674012C9.19074 0.264478 9.57405 0 9.99993 0C10.4258 0 10.8091 0.264478 10.9774 0.673057L13.2601 6.24811L19.0326 6.79506C19.4577 6.83502 19.816 7.13517 19.9477 7.55776C20.0794 7.98035 19.9576 8.44386 19.6369 8.73605L15.2733 12.7284L16.56 18.6424C16.6543 19.0773 16.4926 19.5269 16.1468 19.7878C15.8018 20.0486 15.3417 20.0686 14.9784 19.8408L9.99993 16.7363L5.02148 19.8425C4.85317 19.9468 4.66563 20 4.47642 20ZM9.99993 15.3989C10.1891 15.3989 10.3765 15.452 10.545 15.5563L15.2434 18.4886L14.0291 12.9065C13.9424 12.5093 14.0717 12.0945 14.3659 11.8257L18.486 8.05519L13.035 7.53865C12.6425 7.50123 12.305 7.24376 12.1516 6.86639L9.99993 1.60613L7.84564 6.86719C7.69397 7.24201 7.35643 7.49948 6.96488 7.5369L1.51309 8.05344L5.63306 11.824C5.92818 12.0935 6.05727 12.5075 5.96983 12.9058L4.75643 18.4877L9.45487 15.5563C9.62318 15.452 9.81072 15.3989 9.99993 15.3989ZM6.69571 6.35591C6.69571 6.35591 6.69571 6.35686 6.6948 6.35766L6.69571 6.35591ZM13.3025 6.35336L13.3034 6.35511C13.3034 6.35416 13.3034 6.35416 13.3025 6.35336Z" fill="#AE4B84"/>
                    <path d="M9.99993 15.3989C10.1891 15.3989 10.3765 15.452 10.545 15.5563L15.2434 18.4886L14.0291 12.9065C13.9424 12.5093 14.0717 12.0945 14.3659 11.8257L18.486 8.05519L13.035 7.53865C12.6425 7.50123 12.305 7.24376 12.1516 6.86639L9.99993 1.60613L7.84564 6.86719C7.69397 7.24201 7.35643 7.49948 6.96488 7.5369L1.51309 8.05344L5.63306 11.824C5.92818 12.0935 6.05727 12.5075 5.96983 12.9058L4.75643 18.4877L9.45487 15.5563C9.62318 15.452 9.81072 15.3989 9.99993 15.3989Z" fill="#AE4B84"/>
                </svg>
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M4.47642 20C4.2573 20 4.0397 19.9287 3.854 19.7885C3.50807 19.5269 3.34648 19.0773 3.44063 18.6434L4.72728 12.7292L0.36377 8.73605C0.0430226 8.44386 -0.0795084 7.98115 0.0521781 7.55776C0.183865 7.13517 0.54215 6.83598 0.966355 6.79506L6.73981 6.24811L9.02243 0.674012C9.19074 0.264478 9.57405 0 9.99993 0C10.4258 0 10.8091 0.264478 10.9774 0.673057L13.2601 6.24811L19.0326 6.79506C19.4577 6.83502 19.816 7.13517 19.9477 7.55776C20.0794 7.98035 19.9576 8.44386 19.6369 8.73605L15.2733 12.7284L16.56 18.6424C16.6543 19.0773 16.4926 19.5269 16.1468 19.7878C15.8018 20.0486 15.3417 20.0686 14.9784 19.8408L9.99993 16.7363L5.02148 19.8425C4.85317 19.9468 4.66563 20 4.47642 20ZM9.99993 15.3989C10.1891 15.3989 10.3765 15.452 10.545 15.5563L15.2434 18.4886L14.0291 12.9065C13.9424 12.5093 14.0717 12.0945 14.3659 11.8257L18.486 8.05519L13.035 7.53865C12.6425 7.50123 12.305 7.24376 12.1516 6.86639L9.99993 1.60613L7.84564 6.86719C7.69397 7.24201 7.35643 7.49948 6.96488 7.5369L1.51309 8.05344L5.63306 11.824C5.92818 12.0935 6.05727 12.5075 5.96983 12.9058L4.75643 18.4877L9.45487 15.5563C9.62318 15.452 9.81072 15.3989 9.99993 15.3989ZM6.69571 6.35591C6.69571 6.35591 6.69571 6.35686 6.6948 6.35766L6.69571 6.35591ZM13.3025 6.35336L13.3034 6.35511C13.3034 6.35416 13.3034 6.35416 13.3025 6.35336Z" fill="#AE4B84"/>
                    <path d="M9.99993 15.3989C10.1891 15.3989 10.3765 15.452 10.545 15.5563L15.2434 18.4886L14.0291 12.9065C13.9424 12.5093 14.0717 12.0945 14.3659 11.8257L18.486 8.05519L13.035 7.53865C12.6425 7.50123 12.305 7.24376 12.1516 6.86639L9.99993 1.60613L7.84564 6.86719C7.69397 7.24201 7.35643 7.49948 6.96488 7.5369L1.51309 8.05344L5.63306 11.824C5.92818 12.0935 6.05727 12.5075 5.96983 12.9058L4.75643 18.4877L9.45487 15.5563C9.62318 15.452 9.81072 15.3989 9.99993 15.3989Z" fill="#AE4B84"/>
                </svg>
            .feedback__text
                p Часто покупаю здесь букеты, качество цветов - супер, а цены не кусаются, что очень приятно. Если нужны недорогие цветы в Новосибирске, и при эт...
            .feedback__link
                p Читать полностью
                    <svg width="21" height="8" viewBox="0 0 21 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M20.3536 4.35356C20.5488 4.15829 20.5488 3.84171 20.3536 3.64645L17.1716 0.464468C16.9763 0.269205 16.6597 0.269205 16.4645 0.464468C16.2692 0.65973 16.2692 0.976312 16.4645 1.17157L19.2929 4L16.4645 6.82843C16.2692 7.02369 16.2692 7.34027 16.4645 7.53554C16.6597 7.7308 16.9763 7.7308 17.1716 7.53554L20.3536 4.35356ZM-4.37114e-08 4.5L20 4.5L20 3.5L4.37114e-08 3.5L-4.37114e-08 4.5Z" fill="#AE4B84"/>
                    </svg>
        a(href="#").feedback__item
            .feedback__title
                p Сергей
                span 09.12.2020
            .feedback__star
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M4.47642 20C4.2573 20 4.0397 19.9287 3.854 19.7885C3.50807 19.5269 3.34648 19.0773 3.44063 18.6434L4.72728 12.7292L0.36377 8.73605C0.0430226 8.44386 -0.0795084 7.98115 0.0521781 7.55776C0.183865 7.13517 0.54215 6.83598 0.966355 6.79506L6.73981 6.24811L9.02243 0.674012C9.19074 0.264478 9.57405 0 9.99993 0C10.4258 0 10.8091 0.264478 10.9774 0.673057L13.2601 6.24811L19.0326 6.79506C19.4577 6.83502 19.816 7.13517 19.9477 7.55776C20.0794 7.98035 19.9576 8.44386 19.6369 8.73605L15.2733 12.7284L16.56 18.6424C16.6543 19.0773 16.4926 19.5269 16.1468 19.7878C15.8018 20.0486 15.3417 20.0686 14.9784 19.8408L9.99993 16.7363L5.02148 19.8425C4.85317 19.9468 4.66563 20 4.47642 20ZM9.99993 15.3989C10.1891 15.3989 10.3765 15.452 10.545 15.5563L15.2434 18.4886L14.0291 12.9065C13.9424 12.5093 14.0717 12.0945 14.3659 11.8257L18.486 8.05519L13.035 7.53865C12.6425 7.50123 12.305 7.24376 12.1516 6.86639L9.99993 1.60613L7.84564 6.86719C7.69397 7.24201 7.35643 7.49948 6.96488 7.5369L1.51309 8.05344L5.63306 11.824C5.92818 12.0935 6.05727 12.5075 5.96983 12.9058L4.75643 18.4877L9.45487 15.5563C9.62318 15.452 9.81072 15.3989 9.99993 15.3989ZM6.69571 6.35591C6.69571 6.35591 6.69571 6.35686 6.6948 6.35766L6.69571 6.35591ZM13.3025 6.35336L13.3034 6.35511C13.3034 6.35416 13.3034 6.35416 13.3025 6.35336Z" fill="#AE4B84"/>
                    <path d="M9.99993 15.3989C10.1891 15.3989 10.3765 15.452 10.545 15.5563L15.2434 18.4886L14.0291 12.9065C13.9424 12.5093 14.0717 12.0945 14.3659 11.8257L18.486 8.05519L13.035 7.53865C12.6425 7.50123 12.305 7.24376 12.1516 6.86639L9.99993 1.60613L7.84564 6.86719C7.69397 7.24201 7.35643 7.49948 6.96488 7.5369L1.51309 8.05344L5.63306 11.824C5.92818 12.0935 6.05727 12.5075 5.96983 12.9058L4.75643 18.4877L9.45487 15.5563C9.62318 15.452 9.81072 15.3989 9.99993 15.3989Z" fill="#AE4B84"/>
                </svg>
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M4.47642 20C4.2573 20 4.0397 19.9287 3.854 19.7885C3.50807 19.5269 3.34648 19.0773 3.44063 18.6434L4.72728 12.7292L0.36377 8.73605C0.0430226 8.44386 -0.0795084 7.98115 0.0521781 7.55776C0.183865 7.13517 0.54215 6.83598 0.966355 6.79506L6.73981 6.24811L9.02243 0.674012C9.19074 0.264478 9.57405 0 9.99993 0C10.4258 0 10.8091 0.264478 10.9774 0.673057L13.2601 6.24811L19.0326 6.79506C19.4577 6.83502 19.816 7.13517 19.9477 7.55776C20.0794 7.98035 19.9576 8.44386 19.6369 8.73605L15.2733 12.7284L16.56 18.6424C16.6543 19.0773 16.4926 19.5269 16.1468 19.7878C15.8018 20.0486 15.3417 20.0686 14.9784 19.8408L9.99993 16.7363L5.02148 19.8425C4.85317 19.9468 4.66563 20 4.47642 20ZM9.99993 15.3989C10.1891 15.3989 10.3765 15.452 10.545 15.5563L15.2434 18.4886L14.0291 12.9065C13.9424 12.5093 14.0717 12.0945 14.3659 11.8257L18.486 8.05519L13.035 7.53865C12.6425 7.50123 12.305 7.24376 12.1516 6.86639L9.99993 1.60613L7.84564 6.86719C7.69397 7.24201 7.35643 7.49948 6.96488 7.5369L1.51309 8.05344L5.63306 11.824C5.92818 12.0935 6.05727 12.5075 5.96983 12.9058L4.75643 18.4877L9.45487 15.5563C9.62318 15.452 9.81072 15.3989 9.99993 15.3989ZM6.69571 6.35591C6.69571 6.35591 6.69571 6.35686 6.6948 6.35766L6.69571 6.35591ZM13.3025 6.35336L13.3034 6.35511C13.3034 6.35416 13.3034 6.35416 13.3025 6.35336Z" fill="#AE4B84"/>
                    <path d="M9.99993 15.3989C10.1891 15.3989 10.3765 15.452 10.545 15.5563L15.2434 18.4886L14.0291 12.9065C13.9424 12.5093 14.0717 12.0945 14.3659 11.8257L18.486 8.05519L13.035 7.53865C12.6425 7.50123 12.305 7.24376 12.1516 6.86639L9.99993 1.60613L7.84564 6.86719C7.69397 7.24201 7.35643 7.49948 6.96488 7.5369L1.51309 8.05344L5.63306 11.824C5.92818 12.0935 6.05727 12.5075 5.96983 12.9058L4.75643 18.4877L9.45487 15.5563C9.62318 15.452 9.81072 15.3989 9.99993 15.3989Z" fill="#AE4B84"/>
                </svg>
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M4.47642 20C4.2573 20 4.0397 19.9287 3.854 19.7885C3.50807 19.5269 3.34648 19.0773 3.44063 18.6434L4.72728 12.7292L0.36377 8.73605C0.0430226 8.44386 -0.0795084 7.98115 0.0521781 7.55776C0.183865 7.13517 0.54215 6.83598 0.966355 6.79506L6.73981 6.24811L9.02243 0.674012C9.19074 0.264478 9.57405 0 9.99993 0C10.4258 0 10.8091 0.264478 10.9774 0.673057L13.2601 6.24811L19.0326 6.79506C19.4577 6.83502 19.816 7.13517 19.9477 7.55776C20.0794 7.98035 19.9576 8.44386 19.6369 8.73605L15.2733 12.7284L16.56 18.6424C16.6543 19.0773 16.4926 19.5269 16.1468 19.7878C15.8018 20.0486 15.3417 20.0686 14.9784 19.8408L9.99993 16.7363L5.02148 19.8425C4.85317 19.9468 4.66563 20 4.47642 20ZM9.99993 15.3989C10.1891 15.3989 10.3765 15.452 10.545 15.5563L15.2434 18.4886L14.0291 12.9065C13.9424 12.5093 14.0717 12.0945 14.3659 11.8257L18.486 8.05519L13.035 7.53865C12.6425 7.50123 12.305 7.24376 12.1516 6.86639L9.99993 1.60613L7.84564 6.86719C7.69397 7.24201 7.35643 7.49948 6.96488 7.5369L1.51309 8.05344L5.63306 11.824C5.92818 12.0935 6.05727 12.5075 5.96983 12.9058L4.75643 18.4877L9.45487 15.5563C9.62318 15.452 9.81072 15.3989 9.99993 15.3989ZM6.69571 6.35591C6.69571 6.35591 6.69571 6.35686 6.6948 6.35766L6.69571 6.35591ZM13.3025 6.35336L13.3034 6.35511C13.3034 6.35416 13.3034 6.35416 13.3025 6.35336Z" fill="#AE4B84"/>
                    <path d="M9.99993 15.3989C10.1891 15.3989 10.3765 15.452 10.545 15.5563L15.2434 18.4886L14.0291 12.9065C13.9424 12.5093 14.0717 12.0945 14.3659 11.8257L18.486 8.05519L13.035 7.53865C12.6425 7.50123 12.305 7.24376 12.1516 6.86639L9.99993 1.60613L7.84564 6.86719C7.69397 7.24201 7.35643 7.49948 6.96488 7.5369L1.51309 8.05344L5.63306 11.824C5.92818 12.0935 6.05727 12.5075 5.96983 12.9058L4.75643 18.4877L9.45487 15.5563C9.62318 15.452 9.81072 15.3989 9.99993 15.3989Z" fill="#AE4B84"/>
                </svg>
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M4.47642 20C4.2573 20 4.0397 19.9287 3.854 19.7885C3.50807 19.5269 3.34648 19.0773 3.44063 18.6434L4.72728 12.7292L0.36377 8.73605C0.0430226 8.44386 -0.0795084 7.98115 0.0521781 7.55776C0.183865 7.13517 0.54215 6.83598 0.966355 6.79506L6.73981 6.24811L9.02243 0.674012C9.19074 0.264478 9.57405 0 9.99993 0C10.4258 0 10.8091 0.264478 10.9774 0.673057L13.2601 6.24811L19.0326 6.79506C19.4577 6.83502 19.816 7.13517 19.9477 7.55776C20.0794 7.98035 19.9576 8.44386 19.6369 8.73605L15.2733 12.7284L16.56 18.6424C16.6543 19.0773 16.4926 19.5269 16.1468 19.7878C15.8018 20.0486 15.3417 20.0686 14.9784 19.8408L9.99993 16.7363L5.02148 19.8425C4.85317 19.9468 4.66563 20 4.47642 20ZM9.99993 15.3989C10.1891 15.3989 10.3765 15.452 10.545 15.5563L15.2434 18.4886L14.0291 12.9065C13.9424 12.5093 14.0717 12.0945 14.3659 11.8257L18.486 8.05519L13.035 7.53865C12.6425 7.50123 12.305 7.24376 12.1516 6.86639L9.99993 1.60613L7.84564 6.86719C7.69397 7.24201 7.35643 7.49948 6.96488 7.5369L1.51309 8.05344L5.63306 11.824C5.92818 12.0935 6.05727 12.5075 5.96983 12.9058L4.75643 18.4877L9.45487 15.5563C9.62318 15.452 9.81072 15.3989 9.99993 15.3989ZM6.69571 6.35591C6.69571 6.35591 6.69571 6.35686 6.6948 6.35766L6.69571 6.35591ZM13.3025 6.35336L13.3034 6.35511C13.3034 6.35416 13.3034 6.35416 13.3025 6.35336Z" fill="#AE4B84"/>
                    <path d="M9.99993 15.3989C10.1891 15.3989 10.3765 15.452 10.545 15.5563L15.2434 18.4886L14.0291 12.9065C13.9424 12.5093 14.0717 12.0945 14.3659 11.8257L18.486 8.05519L13.035 7.53865C12.6425 7.50123 12.305 7.24376 12.1516 6.86639L9.99993 1.60613L7.84564 6.86719C7.69397 7.24201 7.35643 7.49948 6.96488 7.5369L1.51309 8.05344L5.63306 11.824C5.92818 12.0935 6.05727 12.5075 5.96983 12.9058L4.75643 18.4877L9.45487 15.5563C9.62318 15.452 9.81072 15.3989 9.99993 15.3989Z" fill="#AE4B84"/>
                </svg>
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M4.47642 20C4.2573 20 4.0397 19.9287 3.854 19.7885C3.50807 19.5269 3.34648 19.0773 3.44063 18.6434L4.72728 12.7292L0.36377 8.73605C0.0430226 8.44386 -0.0795084 7.98115 0.0521781 7.55776C0.183865 7.13517 0.54215 6.83598 0.966355 6.79506L6.73981 6.24811L9.02243 0.674012C9.19074 0.264478 9.57405 0 9.99993 0C10.4258 0 10.8091 0.264478 10.9774 0.673057L13.2601 6.24811L19.0326 6.79506C19.4577 6.83502 19.816 7.13517 19.9477 7.55776C20.0794 7.98035 19.9576 8.44386 19.6369 8.73605L15.2733 12.7284L16.56 18.6424C16.6543 19.0773 16.4926 19.5269 16.1468 19.7878C15.8018 20.0486 15.3417 20.0686 14.9784 19.8408L9.99993 16.7363L5.02148 19.8425C4.85317 19.9468 4.66563 20 4.47642 20ZM9.99993 15.3989C10.1891 15.3989 10.3765 15.452 10.545 15.5563L15.2434 18.4886L14.0291 12.9065C13.9424 12.5093 14.0717 12.0945 14.3659 11.8257L18.486 8.05519L13.035 7.53865C12.6425 7.50123 12.305 7.24376 12.1516 6.86639L9.99993 1.60613L7.84564 6.86719C7.69397 7.24201 7.35643 7.49948 6.96488 7.5369L1.51309 8.05344L5.63306 11.824C5.92818 12.0935 6.05727 12.5075 5.96983 12.9058L4.75643 18.4877L9.45487 15.5563C9.62318 15.452 9.81072 15.3989 9.99993 15.3989ZM6.69571 6.35591C6.69571 6.35591 6.69571 6.35686 6.6948 6.35766L6.69571 6.35591ZM13.3025 6.35336L13.3034 6.35511C13.3034 6.35416 13.3034 6.35416 13.3025 6.35336Z" fill="#AE4B84"/>
                    <path d="M9.99993 15.3989C10.1891 15.3989 10.3765 15.452 10.545 15.5563L15.2434 18.4886L14.0291 12.9065C13.9424 12.5093 14.0717 12.0945 14.3659 11.8257L18.486 8.05519L13.035 7.53865C12.6425 7.50123 12.305 7.24376 12.1516 6.86639L9.99993 1.60613L7.84564 6.86719C7.69397 7.24201 7.35643 7.49948 6.96488 7.5369L1.51309 8.05344L5.63306 11.824C5.92818 12.0935 6.05727 12.5075 5.96983 12.9058L4.75643 18.4877L9.45487 15.5563C9.62318 15.452 9.81072 15.3989 9.99993 15.3989Z" fill="#AE4B84"/>
                </svg>
            .feedback__text
                p Часто покупаю здесь букеты, качество цветов - супер, а цены не кусаются, что очень приятно. Если нужны недорогие цветы в Новосибирске, и при эт...
            .feedback__link
                p Читать полностью
                    <svg width="21" height="8" viewBox="0 0 21 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M20.3536 4.35356C20.5488 4.15829 20.5488 3.84171 20.3536 3.64645L17.1716 0.464468C16.9763 0.269205 16.6597 0.269205 16.4645 0.464468C16.2692 0.65973 16.2692 0.976312 16.4645 1.17157L19.2929 4L16.4645 6.82843C16.2692 7.02369 16.2692 7.34027 16.4645 7.53554C16.6597 7.7308 16.9763 7.7308 17.1716 7.53554L20.3536 4.35356ZM-4.37114e-08 4.5L20 4.5L20 3.5L4.37114e-08 3.5L-4.37114e-08 4.5Z" fill="#AE4B84"/>
                    </svg>
        a(href="#").feedback__item
            .feedback__title
                p Марк
                span 09.12.2020
            .feedback__star
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M4.47642 20C4.2573 20 4.0397 19.9287 3.854 19.7885C3.50807 19.5269 3.34648 19.0773 3.44063 18.6434L4.72728 12.7292L0.36377 8.73605C0.0430226 8.44386 -0.0795084 7.98115 0.0521781 7.55776C0.183865 7.13517 0.54215 6.83598 0.966355 6.79506L6.73981 6.24811L9.02243 0.674012C9.19074 0.264478 9.57405 0 9.99993 0C10.4258 0 10.8091 0.264478 10.9774 0.673057L13.2601 6.24811L19.0326 6.79506C19.4577 6.83502 19.816 7.13517 19.9477 7.55776C20.0794 7.98035 19.9576 8.44386 19.6369 8.73605L15.2733 12.7284L16.56 18.6424C16.6543 19.0773 16.4926 19.5269 16.1468 19.7878C15.8018 20.0486 15.3417 20.0686 14.9784 19.8408L9.99993 16.7363L5.02148 19.8425C4.85317 19.9468 4.66563 20 4.47642 20ZM9.99993 15.3989C10.1891 15.3989 10.3765 15.452 10.545 15.5563L15.2434 18.4886L14.0291 12.9065C13.9424 12.5093 14.0717 12.0945 14.3659 11.8257L18.486 8.05519L13.035 7.53865C12.6425 7.50123 12.305 7.24376 12.1516 6.86639L9.99993 1.60613L7.84564 6.86719C7.69397 7.24201 7.35643 7.49948 6.96488 7.5369L1.51309 8.05344L5.63306 11.824C5.92818 12.0935 6.05727 12.5075 5.96983 12.9058L4.75643 18.4877L9.45487 15.5563C9.62318 15.452 9.81072 15.3989 9.99993 15.3989ZM6.69571 6.35591C6.69571 6.35591 6.69571 6.35686 6.6948 6.35766L6.69571 6.35591ZM13.3025 6.35336L13.3034 6.35511C13.3034 6.35416 13.3034 6.35416 13.3025 6.35336Z" fill="#AE4B84"/>
                    <path d="M9.99993 15.3989C10.1891 15.3989 10.3765 15.452 10.545 15.5563L15.2434 18.4886L14.0291 12.9065C13.9424 12.5093 14.0717 12.0945 14.3659 11.8257L18.486 8.05519L13.035 7.53865C12.6425 7.50123 12.305 7.24376 12.1516 6.86639L9.99993 1.60613L7.84564 6.86719C7.69397 7.24201 7.35643 7.49948 6.96488 7.5369L1.51309 8.05344L5.63306 11.824C5.92818 12.0935 6.05727 12.5075 5.96983 12.9058L4.75643 18.4877L9.45487 15.5563C9.62318 15.452 9.81072 15.3989 9.99993 15.3989Z" fill="#AE4B84"/>
                </svg>
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M4.47642 20C4.2573 20 4.0397 19.9287 3.854 19.7885C3.50807 19.5269 3.34648 19.0773 3.44063 18.6434L4.72728 12.7292L0.36377 8.73605C0.0430226 8.44386 -0.0795084 7.98115 0.0521781 7.55776C0.183865 7.13517 0.54215 6.83598 0.966355 6.79506L6.73981 6.24811L9.02243 0.674012C9.19074 0.264478 9.57405 0 9.99993 0C10.4258 0 10.8091 0.264478 10.9774 0.673057L13.2601 6.24811L19.0326 6.79506C19.4577 6.83502 19.816 7.13517 19.9477 7.55776C20.0794 7.98035 19.9576 8.44386 19.6369 8.73605L15.2733 12.7284L16.56 18.6424C16.6543 19.0773 16.4926 19.5269 16.1468 19.7878C15.8018 20.0486 15.3417 20.0686 14.9784 19.8408L9.99993 16.7363L5.02148 19.8425C4.85317 19.9468 4.66563 20 4.47642 20ZM9.99993 15.3989C10.1891 15.3989 10.3765 15.452 10.545 15.5563L15.2434 18.4886L14.0291 12.9065C13.9424 12.5093 14.0717 12.0945 14.3659 11.8257L18.486 8.05519L13.035 7.53865C12.6425 7.50123 12.305 7.24376 12.1516 6.86639L9.99993 1.60613L7.84564 6.86719C7.69397 7.24201 7.35643 7.49948 6.96488 7.5369L1.51309 8.05344L5.63306 11.824C5.92818 12.0935 6.05727 12.5075 5.96983 12.9058L4.75643 18.4877L9.45487 15.5563C9.62318 15.452 9.81072 15.3989 9.99993 15.3989ZM6.69571 6.35591C6.69571 6.35591 6.69571 6.35686 6.6948 6.35766L6.69571 6.35591ZM13.3025 6.35336L13.3034 6.35511C13.3034 6.35416 13.3034 6.35416 13.3025 6.35336Z" fill="#AE4B84"/>
                    <path d="M9.99993 15.3989C10.1891 15.3989 10.3765 15.452 10.545 15.5563L15.2434 18.4886L14.0291 12.9065C13.9424 12.5093 14.0717 12.0945 14.3659 11.8257L18.486 8.05519L13.035 7.53865C12.6425 7.50123 12.305 7.24376 12.1516 6.86639L9.99993 1.60613L7.84564 6.86719C7.69397 7.24201 7.35643 7.49948 6.96488 7.5369L1.51309 8.05344L5.63306 11.824C5.92818 12.0935 6.05727 12.5075 5.96983 12.9058L4.75643 18.4877L9.45487 15.5563C9.62318 15.452 9.81072 15.3989 9.99993 15.3989Z" fill="#AE4B84"/>
                </svg>
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M4.47642 20C4.2573 20 4.0397 19.9287 3.854 19.7885C3.50807 19.5269 3.34648 19.0773 3.44063 18.6434L4.72728 12.7292L0.36377 8.73605C0.0430226 8.44386 -0.0795084 7.98115 0.0521781 7.55776C0.183865 7.13517 0.54215 6.83598 0.966355 6.79506L6.73981 6.24811L9.02243 0.674012C9.19074 0.264478 9.57405 0 9.99993 0C10.4258 0 10.8091 0.264478 10.9774 0.673057L13.2601 6.24811L19.0326 6.79506C19.4577 6.83502 19.816 7.13517 19.9477 7.55776C20.0794 7.98035 19.9576 8.44386 19.6369 8.73605L15.2733 12.7284L16.56 18.6424C16.6543 19.0773 16.4926 19.5269 16.1468 19.7878C15.8018 20.0486 15.3417 20.0686 14.9784 19.8408L9.99993 16.7363L5.02148 19.8425C4.85317 19.9468 4.66563 20 4.47642 20ZM9.99993 15.3989C10.1891 15.3989 10.3765 15.452 10.545 15.5563L15.2434 18.4886L14.0291 12.9065C13.9424 12.5093 14.0717 12.0945 14.3659 11.8257L18.486 8.05519L13.035 7.53865C12.6425 7.50123 12.305 7.24376 12.1516 6.86639L9.99993 1.60613L7.84564 6.86719C7.69397 7.24201 7.35643 7.49948 6.96488 7.5369L1.51309 8.05344L5.63306 11.824C5.92818 12.0935 6.05727 12.5075 5.96983 12.9058L4.75643 18.4877L9.45487 15.5563C9.62318 15.452 9.81072 15.3989 9.99993 15.3989ZM6.69571 6.35591C6.69571 6.35591 6.69571 6.35686 6.6948 6.35766L6.69571 6.35591ZM13.3025 6.35336L13.3034 6.35511C13.3034 6.35416 13.3034 6.35416 13.3025 6.35336Z" fill="#AE4B84"/>
                    <path d="M9.99993 15.3989C10.1891 15.3989 10.3765 15.452 10.545 15.5563L15.2434 18.4886L14.0291 12.9065C13.9424 12.5093 14.0717 12.0945 14.3659 11.8257L18.486 8.05519L13.035 7.53865C12.6425 7.50123 12.305 7.24376 12.1516 6.86639L9.99993 1.60613L7.84564 6.86719C7.69397 7.24201 7.35643 7.49948 6.96488 7.5369L1.51309 8.05344L5.63306 11.824C5.92818 12.0935 6.05727 12.5075 5.96983 12.9058L4.75643 18.4877L9.45487 15.5563C9.62318 15.452 9.81072 15.3989 9.99993 15.3989Z" fill="#AE4B84"/>
                </svg>
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M4.47642 20C4.2573 20 4.0397 19.9287 3.854 19.7885C3.50807 19.5269 3.34648 19.0773 3.44063 18.6434L4.72728 12.7292L0.36377 8.73605C0.0430226 8.44386 -0.0795084 7.98115 0.0521781 7.55776C0.183865 7.13517 0.54215 6.83598 0.966355 6.79506L6.73981 6.24811L9.02243 0.674012C9.19074 0.264478 9.57405 0 9.99993 0C10.4258 0 10.8091 0.264478 10.9774 0.673057L13.2601 6.24811L19.0326 6.79506C19.4577 6.83502 19.816 7.13517 19.9477 7.55776C20.0794 7.98035 19.9576 8.44386 19.6369 8.73605L15.2733 12.7284L16.56 18.6424C16.6543 19.0773 16.4926 19.5269 16.1468 19.7878C15.8018 20.0486 15.3417 20.0686 14.9784 19.8408L9.99993 16.7363L5.02148 19.8425C4.85317 19.9468 4.66563 20 4.47642 20ZM9.99993 15.3989C10.1891 15.3989 10.3765 15.452 10.545 15.5563L15.2434 18.4886L14.0291 12.9065C13.9424 12.5093 14.0717 12.0945 14.3659 11.8257L18.486 8.05519L13.035 7.53865C12.6425 7.50123 12.305 7.24376 12.1516 6.86639L9.99993 1.60613L7.84564 6.86719C7.69397 7.24201 7.35643 7.49948 6.96488 7.5369L1.51309 8.05344L5.63306 11.824C5.92818 12.0935 6.05727 12.5075 5.96983 12.9058L4.75643 18.4877L9.45487 15.5563C9.62318 15.452 9.81072 15.3989 9.99993 15.3989ZM6.69571 6.35591C6.69571 6.35591 6.69571 6.35686 6.6948 6.35766L6.69571 6.35591ZM13.3025 6.35336L13.3034 6.35511C13.3034 6.35416 13.3034 6.35416 13.3025 6.35336Z" fill="#AE4B84"/>
                    <path d="M9.99993 15.3989C10.1891 15.3989 10.3765 15.452 10.545 15.5563L15.2434 18.4886L14.0291 12.9065C13.9424 12.5093 14.0717 12.0945 14.3659 11.8257L18.486 8.05519L13.035 7.53865C12.6425 7.50123 12.305 7.24376 12.1516 6.86639L9.99993 1.60613L7.84564 6.86719C7.69397 7.24201 7.35643 7.49948 6.96488 7.5369L1.51309 8.05344L5.63306 11.824C5.92818 12.0935 6.05727 12.5075 5.96983 12.9058L4.75643 18.4877L9.45487 15.5563C9.62318 15.452 9.81072 15.3989 9.99993 15.3989Z" fill="#AE4B84"/>
                </svg>
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M4.47642 20C4.2573 20 4.0397 19.9287 3.854 19.7885C3.50807 19.5269 3.34648 19.0773 3.44063 18.6434L4.72728 12.7292L0.36377 8.73605C0.0430226 8.44386 -0.0795084 7.98115 0.0521781 7.55776C0.183865 7.13517 0.54215 6.83598 0.966355 6.79506L6.73981 6.24811L9.02243 0.674012C9.19074 0.264478 9.57405 0 9.99993 0C10.4258 0 10.8091 0.264478 10.9774 0.673057L13.2601 6.24811L19.0326 6.79506C19.4577 6.83502 19.816 7.13517 19.9477 7.55776C20.0794 7.98035 19.9576 8.44386 19.6369 8.73605L15.2733 12.7284L16.56 18.6424C16.6543 19.0773 16.4926 19.5269 16.1468 19.7878C15.8018 20.0486 15.3417 20.0686 14.9784 19.8408L9.99993 16.7363L5.02148 19.8425C4.85317 19.9468 4.66563 20 4.47642 20ZM9.99993 15.3989C10.1891 15.3989 10.3765 15.452 10.545 15.5563L15.2434 18.4886L14.0291 12.9065C13.9424 12.5093 14.0717 12.0945 14.3659 11.8257L18.486 8.05519L13.035 7.53865C12.6425 7.50123 12.305 7.24376 12.1516 6.86639L9.99993 1.60613L7.84564 6.86719C7.69397 7.24201 7.35643 7.49948 6.96488 7.5369L1.51309 8.05344L5.63306 11.824C5.92818 12.0935 6.05727 12.5075 5.96983 12.9058L4.75643 18.4877L9.45487 15.5563C9.62318 15.452 9.81072 15.3989 9.99993 15.3989ZM6.69571 6.35591C6.69571 6.35591 6.69571 6.35686 6.6948 6.35766L6.69571 6.35591ZM13.3025 6.35336L13.3034 6.35511C13.3034 6.35416 13.3034 6.35416 13.3025 6.35336Z" fill="#AE4B84"/>
                    <path d="M9.99993 15.3989C10.1891 15.3989 10.3765 15.452 10.545 15.5563L15.2434 18.4886L14.0291 12.9065C13.9424 12.5093 14.0717 12.0945 14.3659 11.8257L18.486 8.05519L13.035 7.53865C12.6425 7.50123 12.305 7.24376 12.1516 6.86639L9.99993 1.60613L7.84564 6.86719C7.69397 7.24201 7.35643 7.49948 6.96488 7.5369L1.51309 8.05344L5.63306 11.824C5.92818 12.0935 6.05727 12.5075 5.96983 12.9058L4.75643 18.4877L9.45487 15.5563C9.62318 15.452 9.81072 15.3989 9.99993 15.3989Z" fill="#AE4B84"/>
                </svg>
            .feedback__text
                p Часто покупаю здесь букеты, качество цветов - супер, а цены не кусаются, что очень приятно. Если нужны недорогие цветы в Новосибирске, и при эт...
            .feedback__link
                p Читать полностью
                    <svg width="21" height="8" viewBox="0 0 21 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M20.3536 4.35356C20.5488 4.15829 20.5488 3.84171 20.3536 3.64645L17.1716 0.464468C16.9763 0.269205 16.6597 0.269205 16.4645 0.464468C16.2692 0.65973 16.2692 0.976312 16.4645 1.17157L19.2929 4L16.4645 6.82843C16.2692 7.02369 16.2692 7.34027 16.4645 7.53554C16.6597 7.7308 16.9763 7.7308 17.1716 7.53554L20.3536 4.35356ZM-4.37114e-08 4.5L20 4.5L20 3.5L4.37114e-08 3.5L-4.37114e-08 4.5Z" fill="#AE4B84"/>
                    </svg>
    a(href="#").feedback__all Смотреть все
.albom.container
    h2 Фото получателей
    .albom__wrap
        .albom__item
            img(src="./images/decor/albom-1.jpg", alt="albom")
        .albom__item
            img(src="./images/decor/albom-2.jpg", alt="albom")
        .albom__item
            img(src="./images/decor/albom-3.jpg", alt="albom")
        .albom__item
            img(src="./images/decor/albom-4.jpg", alt="albom")
        .albom__item
            img(src="./images/decor/albom-5.jpg", alt="albom")
        .albom__item
            img(src="./images/decor/albom-6.jpg", alt="albom")
        .albom__item
            img(src="./images/decor/albom-7.jpg", alt="albom")
        .albom__item
            img(src="./images/decor/albom-8.jpg", alt="albom")
        .albom__item
            img(src="./images/decor/albom-9.jpg", alt="albom")
        .albom__item
            img(src="./images/decor/albom-10.jpg", alt="albom")
        .albom__item
            img(src="./images/decor/albom-11.jpg", alt="albom")
        .albom__item
            img(src="./images/decor/albom-12.jpg", alt="albom")
    a(href="#").albom__all Смотреть все
.article.container
    h2 Это интересно
    .article__wrap
        .article__item
            .article__img
                img(src="./images/decor/article-1.jpg", alt="article")
            .article__text
                h3 Заголовок статьи на сайте
                span
                    img(src="./images/icon/date.svg", alt="date")
                    | 31.12.20
                p Эта страница создана для демонстрации блоков и элементов, которые используются на сайте.
                a(href="#") Читать полностью
                    <svg width="21" height="8" viewBox="0 0 21 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M20.3536 4.35356C20.5488 4.15829 20.5488 3.84171 20.3536 3.64645L17.1716 0.464468C16.9763 0.269205 16.6597 0.269205 16.4645 0.464468C16.2692 0.65973 16.2692 0.976312 16.4645 1.17157L19.2929 4L16.4645 6.82843C16.2692 7.02369 16.2692 7.34027 16.4645 7.53554C16.6597 7.7308 16.9763 7.7308 17.1716 7.53554L20.3536 4.35356ZM-4.37114e-08 4.5L20 4.5L20 3.5L4.37114e-08 3.5L-4.37114e-08 4.5Z" fill="#AE4B84"/>
                    </svg>
        .article__item
            .article__img
                img(src="./images/decor/article-2.jpg", alt="article")
            .article__text
                h3 Заголовок статьи на сайте
                span
                    img(src="./images/icon/date.svg", alt="date")
                    | 31.12.20
                p Эта страница создана для демонстрации блоков и элементов, которые используются на сайте.
                a(href="#") Читать полностью
                    <svg width="21" height="8" viewBox="0 0 21 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M20.3536 4.35356C20.5488 4.15829 20.5488 3.84171 20.3536 3.64645L17.1716 0.464468C16.9763 0.269205 16.6597 0.269205 16.4645 0.464468C16.2692 0.65973 16.2692 0.976312 16.4645 1.17157L19.2929 4L16.4645 6.82843C16.2692 7.02369 16.2692 7.34027 16.4645 7.53554C16.6597 7.7308 16.9763 7.7308 17.1716 7.53554L20.3536 4.35356ZM-4.37114e-08 4.5L20 4.5L20 3.5L4.37114e-08 3.5L-4.37114e-08 4.5Z" fill="#AE4B84"/>
                    </svg>
    a(href="#").article__all Смотреть все



